[2017-03-03 14:10] teohhanhui commented on #965
In any case, it'd be great if you can add a failing test case.

[2017-03-03 15:08] jordscream commented on #965
@teohhanhui : Thanks for the answer.
But for the example, I do not apply a composite primary key in my Entity

Are we supposed to put fetchJoinCollection to TRUE even my Request is a Simple SELECT without JOIN ?
That is happen in API Platform. For a Simple Request, fetchJoinCollection is set to TRUE.

[2017-03-03 19:55] ArnaudTarroux opened #966 "Requirements problems"
Hi, If I try to install without specify the api-platrform/core version composer return this error:
[code]

And If I try to specify a version (api-platform/core:^2.0.0, api-platform/core:^2.0.1, api-platform/core:^2.0.2,api-platform/core:^2.0.3) I have this error:
[code]

Anybody have an idea ?

Thanks :)

[2017-03-03 20:04] ArnaudTarroux commented on #966
My bad, I just have to config my composer.json (config.platform.php) and set to my PHP version to solve the problem.

[2017-03-03 20:04] #966 closed

[2017-03-06 13:36] jordscream commented on #965
@sroze , any idea ? :-)

[2017-03-06 14:47] dunglas commented on #965
Hi @jordscream, thanks for finding and reporting this issue. Has you seem to have found a fix, do you see you can provide a PR (targetting the 2.0 branch)? Or at least a failing test to allow us to fix this?

[2017-03-06 22:16] bwegrzyn opened #968 "Deserializing Concrete Entites at Abstract Endpoint?"
Lets say I have an abstract Animal resource and a concrete Dog resource.

Api platform will generate two sets of routes:

GET /animals
POST /animals
GET /animals/{id}
DELETE /animals/{id}

GET /dogs
POST /dogs
GET /dogs/{id}
PUT /dogs/{id}
DELETE /dogs/{id}

When you have many of these kind of concrete resources, this gets very hectic. In my case, I have 5 concrete classes, which ends up generatin

[2017-03-06 23:01] bwegrzyn commented on #968
I apologize, I just noticed that the POST route on the abstract resource endpoint is my own doing, so you can ignore that.

However, my second point still stands. Is there a way to disable generation of all these extra routes for each concrete resource and just have them all go through the abstract endpoint with a @type attribute required?

[2017-03-06 23:07] bwegrzyn commented on #968
Looks to be related to #872.

[2017-03-07 06:40] teohhanhui commented on #965
@jordscream:

Yes, that is the default. Please open an issue on https://github.com/doctrine/doctrine2 if you've found a bug with the Doctrine Paginator.

[2017-03-08 11:59] elazer opened #969 "Filters not working with @ORM\Embedded"
My entity has a "partySize", an embedded class with "value", "minValue", "maxValue".

But trying to filter with partySize.value or any of the other 2 properties would have no effects.

[2017-03-08 15:02] jordscream commented on #965
After investigation:
https://github.com/doctrine/doctrine2/issues/5622 is the problem

MySQL 5.7 and postgresql x.x: (https://www.postgresql.org/docs/9.3/static/queries-limit.html)

When you create a request with limit/offset or distinct without an ORDER clause, the request will give inconsistent results.

The only solution is to put a default order in your request.

[2017-03-08 16:32] dkarlovi opened #972 "[Question] API concurrent versioning"
Is there currently support or a best practice plan to version the API?

In which I mean, how to go about having API v1 and API v2 running in parallel, where v1 is used by legacy clients and required to be running for at least (say) six months alongside v2 which is a new, backward incompatible version.

[2017-03-08 17:04] jordscream opened #973 "Customize Doctrine Exception Message"
Hello,
I was working on configuration of status code for exception.

For the moment, I define this in config yml file:
    exception_to_status:
        ApiPlatform\Core\Exception\InvalidArgumentException: 400
        Doctrine\DBAL\Exception\UniqueConstraintViolationException: 409

For the first exception, the message return is correct and I do not need to modify it
(Ex: The type of the "my_field"

[2017-03-08 20:40] dunglas commented on #965
Thanks for the report. Is it possible to patch Doctrine directly to fix this? Or at least API Platform?

[2017-03-08 20:50] dunglas commented on #973
You're right. But those exceptions should always be catched by your code and never reach the end user level. Why do you have such exceptions?

You're right about the default message. We should probably do something to not display it in production by default and use generic messages like "Internal Server Error" to not expose sensitive information.

[2017-03-08 20:50] dunglas commented on #972
For at least basic use cases you can use serialization groups to do that.

[2017-03-08 20:59] dunglas commented on #969
It's indeed not currently supported. I don't know if it can be easily be added but PR about this are very welcome!

[2017-03-08 21:05] soyuka commented on #965
Thought we already had an ORDER clause by default, if not we can just add one.

[2017-03-08 21:07] antograssiot commented on #969
I have a version for the boolean filter that supports embeddable.  I can try to find some time to open a PR but I guess that you're expecting the same level of support on every filters whigh will take much more time.
I know my implementation is far away from ideal but it could beasily a starting point for discussion. WDYT ?

[2017-03-09 07:27] jordscream commented on #965
@soyuka @dunglas , Thanks for your response.

As suggest @soyuka , we can effectively add a default order in API platform.

The question is:
- Where to put this code ?
- PaginationExtension of API Platform can be a good candidate? It is responsible class to prepare the query sending to DoctrineOrmPaginator.
- Developpement of a Method addDefaultOrder in PaginationExtension. Check if there is no or

[2017-03-09 07:27] soyuka commented on #969
@antograssiot +1 about the starting point!

[2017-03-09 07:34] soyuka commented on #965
Indeed, I'd put this in [the PaginationExtension](https://github.com/api-platform/core/blob/master/src/Bridge/Doctrine/Orm/Extension/PaginationExtension.php#L83).

[2017-03-09 07:34] jordscream commented on #973
@dunglas Thanks for your response.

I have this exception, for example, when I post 2 times an Object with a same UUID (We use UUID field for unique identifier and we put it in the POST method)

Entity
    /**
     * @var guid The id of this object
     * @ORM\Id
     * @ORM\Column(type="guid")
     * @Assert\Uuid
     */
     private $id;

If I do this, I have a Request SQL displayed (constraint

[2017-03-09 07:36] soyuka commented on #973
#929

[2017-03-09 08:09] jordscream commented on #965
@soyuka , cool :-) , The method applyToCollection seems correct to add the code in it.

@dunglas : What do you think ? do you want a PR ? 2.0 ?

Thanks
Jordan

[2017-03-09 08:14] soyuka commented on #965
@jordscream Yes as it's a bug fix you can PR on 2.0 :)

[2017-03-09 08:31] dkarlovi commented on #972
@dunglas that's a start, but seems quite limited, might be wrong, though.

Is this the recommended way of doing it by the project? It seems like [a big, important topic](https://www.troyhunt.com/your-api-versioning-is-wrong-which-is/) (references are good too) to leave up to the end developer.

[2017-03-09 09:35] teohhanhui commented on #965
We already have https://github.com/api-platform/core/blob/master/src/Bridge/Doctrine/Orm/Extension/OrderExtension.php

[2017-03-09 10:02] soyuka commented on #965
Hmm okay I remembered correctly then, why isn't it being called in this use
case? Maybe just a wrong priority in extensions?
On Thu, 9 Mar 2017 at 10:35, Teoh Han Hui <notifications@github.com> wrote:

[2017-03-09 10:35] teohhanhui commented on #965
No, because the default is null. This should be a no-op because it's a Doctrine bug when using a newer version of MySQL (more standards-compliant).

[2017-03-09 10:54] jordscream commented on #965
@teohhanhui , @soyuka  Good Point, OrderExtension seems right.

With the setting of %parameter api_platform.collection.order% to DESC or ASC for example, it applies a default order in ClassMetadata identifier.

Question is : Can we put this parameter to a default value (DESC for example) ?
Without this, any person who use API platform with Mysql Last version and Postgresql will have the problems

[2017-03-09 11:14] jordscream opened #974 "[Question] 206 Partial Content Response"
Hello,

According the REST recommendation
http://www.restpatterns.org/HTTP_Status_Codes/206_-_Partial_Content

It is good practice to respond 206 HTTP status code when the content sent is partial.

RespondListener class of APIPlatform returns only 200 for GET method.

Do you think, it's good to include partial content according the rules defined in REST recommendation ?

THanks

[2017-03-09 12:26] teohhanhui commented on #965
Okay, that makes sense since the Doctrine Paginator bug should affect all standards-compliant DBMS.

[2017-03-09 12:30] teohhanhui commented on #974
`206 Partial Content` does not mean what you think it means. It's used together with the `Range` header.

[2017-03-09 12:30] #974 closed

[2017-03-09 12:31] teohhanhui commented on #974
If we use the `Range` header for pagination, then it makes sense.

[2017-03-09 14:40] soyuka commented on #972
#45

[2017-03-09 15:19] dkarlovi commented on #972
@soyuka have you done the additional research you mentioned there? :)

The ideas @dunglas gave on having a different resource and groups, but same entity seems very interesting, seeing as this is two years old, is this still the preferred way to go? The cookbook entry with a couple of worked out use cases might really be the best solution here.

[2017-03-09 15:28] teohhanhui commented on #972
What about running them as separate PHP projects? :) The alternative of
building both versions into one app sounds like it'll just unnecessarily
tie you down in many ways.

On Thu, 9 Mar 2017, 23:19 Dalibor Karlović, <notifications@github.com>
wrote:

[2017-03-09 15:48] dkarlovi commented on #972
@teohhanhui I don't think that's viable long term as you might need to maintain both versions for a really long time, maybe forever, which increases the possibility of having more than two versions running at the same time, you might have dozens. That means running and debugging (for example) 12 instances of the mostly-the-same-but-not-quite app, sounds like a maintenance nightmare. But you're rig

[2017-03-09 16:52] soyuka commented on #972
Yeah, I read about it and from what I remember it had more downsides then upsides. Like you said, if you're maintaining API versions, it often becomes a mess and you'd rather deprecate and update client-relying parts.

Though, I can understand that this can be useful sometimes and my solution would be the same as @teohhanhui. Use two api endpoints, if they point on the same entity, use groups. It'

[2017-03-09 21:48] jonadoe commented on #820
It took me quite some time to figure out why the CollectionDataProvider does not receive the POST request (after I found out, I found this issue...).
I think it is a bit confusing to allow all operations except POST in the custom data providers. Why should POST get handled by an event and all other operations by a custom data provider? Wouldn't it be better to stick to either events or custom data

[2017-03-10 16:00] hugohenrique opened #977 "Likely bug: Does not recognize a new normalizer"
When changing to the PropertyNormalizer as default:

**api_resources.yml**
[code]
**services.yml**
[code]
**AppBundle\Resources\serialization/offerpoint.yml**
[code]
As result to GET ```/api/offerpoints```
[code]
But in swagger-ui show:
![screenshot from 2017-03-10 12-56-27](https://cloud.githubusercontent.com/assets/4316743/23802210/58af72ce-0591-11e7-9875-7558e9e04b73.png)

**Exepected result sh

[2017-03-10 18:01] theofidry commented on #977
did you check the normalizer priority?

[2017-03-10 18:07] hugohenrique commented on #977
Not!

[2017-03-10 22:01] jordscream commented on #954
Hi @ThomAille ,

Are you sure to post all fields required for your entity ?
If it is the case , can you give me your POST data and your Entity for example ?

[2017-03-11 08:14] dunglas commented on #929
Can you review @dkarlovi #978?
Should we mark this issue as a security vulnerability @api-platform/core-team?

[2017-03-11 09:18] dkarlovi commented on #929
@dunglas will try his branch and comment on #978.

IMO you should mark this as a security issue, it's a typical disclosure issue, giving the attacker a lot to work with (ie, identifying the database system and maybe even version, Doctrine, etc), it's a large attack vector.

[2017-03-11 15:45] jordscream commented on #977
@hugohenrique try to put a higher priority to your normalizer definition (services.yml) , priority to 99 for example

[2017-03-12 09:32] Plevoscoba opened #983 "[Question] Child/Subresources URLs"
Hi.

I'm new to both REST APIs and API-Platform so I might be wrong here.

In the API-Platform demo application you have `GET /books`, `GET /books/{bookID}` and also `GET /reviews`, `GET /reviews/{reviewID}`but it somehow fells wrong isn't it?

I'm wondering if we can have URLs like `GET /books/{bookID}/reviews` like the ones you can generate using the `parent`configuration in the FOSRestBundle.

[2017-03-12 10:57] soyuka commented on #983
Soon! https://github.com/api-platform/core/pull/904

[2017-03-12 22:46] jordscream commented on #969
Hi @antograssiot, @soyuka : the same for me ^^. I have a branch I develop last week with an implementation of Embed Filter for Boolean. Functionnal and  ready for a PR. (except I did not write unit test and need discussions about my implementation). @antograssiot , Do you want I push for a PR if you have not time ?

[2017-03-13 01:43] antograssiot commented on #969
Sure go for it.

[2017-03-13 07:17] antograssiot commented on #969
So my naive implementation looks like that

https://gist.github.com/antograssiot/e971410aa740ac18c54ba999cc513143

Still needs refractoring, I didn't had a chance to spend more time on it

[2017-03-13 08:13] jordscream commented on #969
@antograssiot , thanks. I did a PR. We had the same logic to deal that. Do not hesitate to comment What I did in the PR

[2017-03-14 15:06] kate-kate opened #986 "Swagger documentation of related entities isn't proper"
Hello everyone.
I have a Job entity with related Campaign. According to [https://api-platform.com/docs/core/serialization-groups-and-relations](url) I configured them like this:

[code]

[code]

And it works perfectly OK, when I get the response body, but the example value of response is quite strange.

Example value swagger shows to me
[code]

As you can see, there are job fields expected from ca

[2017-03-14 15:08] mitalcoi opened #987 "Custom operation route "Not Found" error"
My API Resource:
[code]

My custom action:

[code]

My routing:
[code]

Then I try to send request, and got 404 error:

<img width="1253" alt="2017-03-14 12 30 37" src="https://cloud.githubusercontent.com/assets/3224226/23894152/14c7def6-08b2-11e7-87b9-d8f2c597583d.png">
#

[2017-03-14 15:29] soyuka commented on #987
Please do not open multiple issues, I've seen https://github.com/api-platform/api-platform/issues/253 don't had time to investigate/answer.

Closing this one in favor of the other one.

[2017-03-14 15:29] #987 closed

[2017-03-14 19:39] kate-kate opened #988 "[Question] Related entities validation"
Hello. I have applied rules to denormalize embedded relation, like it was explained in docs. And it works well, except validation in related entity is totally ignored. It means, that if I provide fields of related entity, they actually will be saved, but if I don't provide fields with ```@Assert\NotBlank()``` annotations, everything will be saved as well (or cause MySQL violation). Can I force val

[2017-03-14 21:39] jordscream commented on #986
Hi @kate-kate ,

Generally, the same for me, I get several errors concerning "Example value" generation.

I recognize it's a hard (according to me) stuff to work on Swagger generation definition with API platform data ^^
I will start, at first, by strong functionnal tests, with a maximum of cases (groups, relations, embedded...)

@Simperfit , what I see [here](https://github.com/api-platform/core/

[2017-03-14 22:12] #965 closed

[2017-03-15 01:20] jakesyl opened #989 "Change NelmoApiDocBundle Description for ApiResourceRoutes"
I have an APIResource Route shown below
[code]

My issue is that description doesn't change anything in nelmoapidocbundle. How can I do this?

[2017-03-15 08:34] soyuka commented on #989
I'm not sure that there is a description there. If it would, it would be `"attributes"={"description"=""}`

[2017-03-15 08:51] dimzerawww opened #990 "[Question] ManyToMany relation in PUT"
Hello,

I want to understand why what i'm trying to do not works.

Principal dependencies versions are them :
[code]
I have an entity "UserApp" with a "teamFollowed" field, which is a ManyToMany relation between an other entity "Team" and it.

**UserApp** :
[code]

**Team** :
[code]

When i send a PUT to UserApp entry point with team id in teamFollowed field, it works :
[code]
but with team object

[2017-03-15 09:32] soyuka commented on #990
Try adding a denormalization group on `Team -> id`

[2017-03-15 09:42] dimzerawww commented on #990
@soyuka My id field on Team entity has the UserApp denorm group :
[code]

I tried to add a denormalization context to the Team entity and adding it to id field to, and it's not working.

[2017-03-15 09:47] dkarlovi opened #991 "Elasticsearch filter"
It would maybe make sense to ship with a out-of-the-box advanced full-text search & filter capability, obvious candidate being Elasticsearch with [FOSElasticaBundle](https://github.com/FriendsOfSymfony/FOSElasticaBundle).

Seeing as the data provider is still ORM, only the filtering is done with Elastic (which gets populated and updated out-of-band), I guess it would just be a custom filter (apply

[2017-03-15 10:23] kate-kate commented on #988
I've tried different strategies to make it work the closest way to what I aimed to get. If I mark property with related object with ```@Assert\NotBlank()``` - it will shows that object as mandatory. And if I try to send embedded object without required fields - they will be also shown in validation errors. That's ok! But didn't see them in "Example Value" to post, and until I send any related data

[2017-03-15 10:58] soyuka commented on #990
It's working to me, [here's a patch file](https://gist.github.com/soyuka/02533d1114faca5eb78c4fde257cb320) on `api-platform/api-platform`.

You can:

[code]

I'm even able to PUT with both an object and a string ^^:

![api-platform-put-fancy](https://cloud.githubusercontent.com/assets/1321971/23945428/bedac5f6-0976-11e7-913b-f7d1fc3f3673.png)

[2017-03-15 11:07] dimzerawww commented on #990
@soyuka Thanks you, i will try it as soon as possible and check what i'm doing wrong and answer here :)

[2017-03-15 11:22] #961 closed

[2017-03-16 07:01] teohhanhui opened #994 "Wrong sorting of tagged service with same priority"
See symfony/symfony#20995

My suggestion is to:

- Extract out into `PriorityTaggedServiceTrait`
- Use `Ds\PriorityQueue` if available\* (we can add the dependency for 3.0+)
- For BC, use the implementation from symfony/symfony#20995

\* Because php-ds is awesome! :smile:

[2017-03-16 15:31] soyuka commented on #212
More data

https://blackfire.io/profiles/325404d0-c782-4f05-88ed-4676b6c3368b/graph

![serializer3](https://cloud.githubusercontent.com/assets/1321971/24004191/f030f9aa-0a65-11e7-815c-26b692724071.png)

[2017-03-17 01:33] jonadoe commented on #986
Hi @kate-kate and @jordscream

I also struggled with this and created PR https://github.com/api-platform/core/pull/996 which fixes this issue. But to be absolutely sure it would be greate if @Simperfit could also check the PR to make sure it doesn't break PR #888

[2017-03-17 07:27] kate-kate commented on #986
@jonadoe I've tested your changes locally, and they solved not only this issue, but also #988
Great job! Looking forward your changes will be merged to master

[2017-03-17 08:43] soyuka commented on #212
We need to cache `getIriFromItem` because it calls `getIdentifiersFromItem` which is heavy in metadata parsing.

[2017-03-20 03:59] yellowmamba opened #998 "JSON-LD failed to load resource"
Hi there,

We have bumped into an issue where a resource has failed to load in `jsonld` format, while can successfully load with an `json` request.

We have `Book` and `Category` entities, and `Category` entity does not have `$id` field as its primary key in Doctrine but the `$name` field. So it looks like this:

[code]
When I tried to `get` a book resource in json, the categories information has

[2017-03-20 07:23] teohhanhui commented on #998
Please help us add a failing test.

[2017-03-20 07:25] teohhanhui commented on #998
Anyway, that error message is coming from the Symfony Router. Can you share an example of the URL?
 (e.g. `/api/categories/my-category-name`)

[2017-03-20 15:44] sstok commented on #991
Note I plan to add a Api-Platform bridge for [RollerworksSearch](https://github.com/rollerworks/search) very soon, unless someone is able to help :) https://github.com/rollerworks/search/issues/87#api-platform

Processing is actually provided now, but the https://github.com/rollerworks/search/blob/master/src/Exception/InvalidSearchConditionException.php needs to be cast to an Error context for Hyd

[2017-03-20 19:31] mitalcoi opened #999 "dynamic pagination"
I try to disable pagination in ```ContextBuilder```, but it doesn't effect on "pagination_enabled" attribute:
[code]
[code]
But my collection still paginated :(

[2017-03-20 19:52] soyuka commented on #999
Why just not set `pagination_enabled=false` in the `Resource` operation declaration?

[2017-03-20 20:52] mitalcoi commented on #999
Because it depends on some dynamic params from request (I missed realization details)

[2017-03-20 22:14] yellowmamba commented on #998
So the entities are like this:

[code]

[code]

[code]

And when we try the endpoint: `/books/5.jsonld`, it gives us the error above. However, if you request `/books/5.json`, the categories of the book load correctly as embedded documents, like this

[code]

Hence, my guess is JSON-LD cannot figure out if `@Id` is not pointing at the `$id` field as Symfony router is expecting `{id}` in the path, o

[2017-03-21 06:40] teohhanhui commented on #998
I think it's the whitespace in your category name that's tripping things up.

[2017-03-21 06:55] yellowmamba commented on #998
I don't think so. Sorry, it was a lame copy and paste mockup code from me, the production code definitely has the right indentation.

[2017-03-21 09:05] mitalcoi commented on #999
now I get desired result through decorating PaginationExtension, but it scattered business logic on many places :(

[2017-03-21 09:14] soyuka commented on #999
Can't you just add the query parameter to the Request above?

[2017-03-21 09:34] mitalcoi commented on #999
do you mean "client pagination enabled" parameter? Yes, I can do it, but it require additional efforts from clients, and I'm trying to avoid it

[2017-03-21 09:58] dunglas commented on #991
@sstok can't https://github.com/api-platform/docs/pull/186 do the trick for the exception?

[2017-03-21 10:20] sstok commented on #991
The exception throw by RollerworksSearch can contain a list of error messages (similar to the Symfony Validation Violations).

https://github.com/api-platform/core/blob/master/src/Hydra/Serializer/ConstraintViolationListNormalizer.php the basis of this should work 😃 I will try to experiment with this.

[2017-03-21 12:40] soyuka commented on #999
No I mean that you've access to the `Request` there, so you can just add a query parameter programmatically :p. Can you tell us more about your use case? You want to disable pagination where, when and why?

[2017-03-21 12:58] Tim59 opened #1001 "Embed objects and serialization groups"
Hi,

I have a class Foo with field id and a parentId (which refer to a Foo object on ManyToOne) ,

[code]

If I want to add group on normalization context, the api result give me a Foo object embed to another Foo, or I want an IRI link

How to make serializer groups not recursive ?

[2017-03-21 13:06] soyuka commented on #1001
Don't put a group on the ManyToOne relation. You can also use `MaxDepth`.

[2017-03-21 13:07] mitalcoi commented on #999
Ok, I will describe:
I want to get data for dropdown list and pagination for this type of resources should be disabled.
For example, I send GET-request: ```127.0.0.1:8000/api/campaigns?context[group]=list``` and according normalization context set in according context builder (but my data is still paginated). Of course, I can send ```127.0.0.1:8000/api/campaigns?context[group]=list&_pagination=fal

[2017-03-21 13:16] mitalcoi commented on #999
I'l try to modify Request programmatically:

    public function createFromRequest(Request $request, bool $normalization, array $extractedAttributes = null): array
    {
        $accessor = PropertyAccess::createPropertyAccessor();

        $context = $this->decorated->createFromRequest($request, $normalization, $extractedAttributes);
        if ($normalization) {
            $group = $accessor->g

[2017-03-21 13:42] Tim59 commented on #1001
Hi @soyuka,

Thanks for your reply

I need groups because I have some fields to hide. Remove the group only hide the field but i need a IRI value.

MaxDepth is for object with multi level embed no ? For me it's at the first level of my main object, MaxDepth as no effect on my parentTranslate field.

[2017-03-21 14:01] soyuka commented on #1001
Then you should use a second group for the relation.

[code]

[2017-03-21 14:10] Tim59 commented on #1001
I have already try it but it doesn't work

[2017-03-22 03:47] teohhanhui commented on #998
Yeah, I gave it some thought too, and that doesn't seem to be an issue.

Can you provide a stack trace?

[2017-03-22 04:02] teohhanhui commented on #998
I think you're right, somewhere we must have hardcoded to use the "id" property, or not handling composite identifiers properly.

/cc @Simperfit

[2017-03-22 09:25] Tim59 commented on #1001
Ping @soyuka , sorry but i'm in a big project and I think your solution to use different groups may work but there is a bug

[2017-03-22 10:42] soyuka commented on #1001
@Tim59 I'll take a look at your fork, were you able to reproduce the bug there?

[2017-03-22 10:48] Timothe-Imadev commented on #1001
@soyuka Thanks , Yes I have reproduce the bug on the fork

[2017-03-22 10:49] Tim59 commented on #1001
@soyuka Thanks , Yes I have reproduce the bug on the fork

[2017-03-22 10:55] #944 closed

[2017-03-22 14:03] mmuruev opened #1004 "No route found for any custom Entity"
I'm using version from tutorial for docker install. And then I'm trying change name for 'Foo' or create new Entity. I've got it in API doc but any. Query to it fail! Is this a bug?

`[1/2] ResourceNotFoundException:    +
Logs   - 1 error
ERROR - Uncaught PHP Exception Symfony\Component\HttpKernel\Exception\NotFoundHttpException: "No route found for "GET /bars"" at /home/mf/workspace/IdeaProjects/P

[2017-03-22 14:16] dunglas commented on #1004
Can you try to clear the cache?

[2017-03-22 15:18] mmuruev commented on #1004
It works, but if it required after each change this is far from convenient. Also no mention this in the doc. I had no issue like this with Silex. Cant it be also the bug?

[2017-03-22 15:20] mmuruev opened #1005 "Extend default CRUD op for entity"
This is not a bug. Just feature requiest. Is it possible extend default methodsup to something like this ?
http://loopback.io/images/overview/helloworld-api-explorer.png from nodejs world. I think this is great idea have it out of the box. Or have opportunity to flexible enable this.

[2017-03-22 15:26] dunglas commented on #1004
It only happens when you add a new resource class, not after all changes. It should be mentioned in the doc, you're right. Another solution is to rebuild the router cache when the container compiled.

[2017-03-22 16:25] StephenOTT commented on #127
Any further progress on this?

[2017-03-23 05:33] teohhanhui opened #1006 "Problem when specifying trusted_hosts"
1. `Untrusted Host "localhost"` when fixing the `Request` for filters.
2. `Untrusted Host "schema.org"`, etc. (from external IRI) when calling `IriConverter::getItemFromIri`.

[2017-03-23 10:48] dunglas commented on #1006
I'm not sure to understand what's going on. Do you have a more detailed example?

[2017-03-24 05:00] teohhanhui commented on #1006
Try setting [`trusted_hosts`](http://symfony.com/doc/current/reference/configuration/framework.html#trusted-hosts) in your `app/config.yml`. You should get the same problem.

[2017-03-24 09:21] sstok commented on #991
It's a start 😄 https://github.com/rollerworks/search-api-platform

[2017-03-24 09:26] soyuka commented on #991
@sstok I made an Oracle Text extension that helps creating indexes and build search queries with CONTAINS. Lmk if you'd be interested in such a thing ;).

[2017-03-24 09:34] sstok commented on #991
@soyuka I haven't used/tested Oracle, but there is a Doctrine DBAL/ORM extension for the search system:

https://github.com/rollerworks/search-doctrine-dbal
https://github.com/rollerworks/search-doctrine-orm

[2017-03-24 09:45] soyuka commented on #991
Yeah I saw those, this is why I mentioned oracle text! I think that modern DBMS all have some kind of optimized way of doing text search, sometimes there's no need to use ES on top.

[2017-03-24 10:06] dkarlovi commented on #991
@soyuka yes, but those are often very basic, MySQL has basic search too.

ES gives you access to quite advanced features you most often wont get from these built-in implementations.

[2017-03-24 10:55] soyuka commented on #991
Hmm, you mean MariaDb though, mysql has been bought by oracle \o/.

Of course that ES gives you more advances features, it has been built for search. Though it's often enough to just use the DMBS:
- [postgresql](https://www.postgresql.org/docs/8.3/static/textsearch.html)
- [oracle](https://docs.oracle.com/cd/B28359_01/text.111/b28303/toc.htm)
- [mariadb](https://mariadb.com/kb/en/mariadb/fulltext-

[2017-03-24 10:57] bschultz opened #1008 "QueryException with custom data provider and filters"
After updating the api-platform/core from version 2.0.3 to 2.0.4 I get the "tooManyParameters" QueryException _(Too many parameters: the query defines 1 parameters and you bound 2_)

I have an custom collection data provider with the following code:

[code]

For the collection I've defined some additional filters that can be applied as parameters:

[code]

After the api-platform update the Doctrin

[2017-03-24 10:58] soyuka commented on #1008
I'm looking into this.

[2017-03-24 11:06] dkarlovi commented on #991
Nope, I mean [MySQL](https://dev.mysql.com/doc/refman/5.7/en/fulltext-search.html), doesn't matter Oracle bought 'em, "Oracle" in this context means "Oracle DB" which isn't the same thing as Oracle's MySQL offering.

Side note: Oracle actually bought Sun who bought MySQL AB previously, BTW, I still don't call MySQL "Sun". :) None of this is relevant to the issue in hand which is "advanced search f

[2017-03-24 11:27] soyuka commented on #1008
I found a fix for this, entirely my fault. I just need to add a test because apparently we had none for this particular use case, sorry about that.

For now, you can disable `EagerLoading`.

[2017-03-24 12:47] bschultz commented on #1008
Disabling `EagerLoading` is unfortunately not working for all cases.
For example when I filter the collection by the id on an related entity, or when I have an entity that is related to the entity with the verified field and the collection of the second entity applies the verified filter to the joined entity.

For now I have to use strictly version 2.0.3

[2017-03-24 14:03] #1008 closed

[2017-03-24 15:09] jordscream commented on #973
@dunglas @soyuka @meyerbaptiste @teohhanhui

In my Team, for an internal reason, we call API POST with a predefined ID.
{
 id: 'ea62c86c-d20f-4ce9-a502-441ca96b9434',
 name: 'test',
}
In **production**, when you call 2 times the json above, you have a 409 conflict http error (Client error according Response Object) with a nice DBALException displaying our SQL table ^^
WDYT ? ^^

[2017-03-24 17:13] teohhanhui commented on #973
@jordscream I'm not sure I get what you mean. You're returning a HTTP `409 Conflict`, right? So what's with the `DBALException`? Don't you catch the `DBALException` and throw your own exception?

[2017-03-26 11:04] ufik opened #1012 "DataProvider with pagination and filters"
Hello,

I had to specify some where conditions for my ednpoint, so I created my own DataProvider, it works well, but I lost pagination and filtering, is there a way how to just adjust query and leave rest on api platform core?

[2017-03-26 14:00] soyuka commented on #1012
You have to inject and use our extensions:
- [DataProvider](https://github.com/api-platform/core/blob/master/src/Bridge/Doctrine/Orm/CollectionDataProvider.php#L62)
- [Extensions](https://github.com/api-platform/core/tree/master/src/Bridge/Doctrine/Orm/Extension)
- [Injection](https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Bundle/DependencyInjection/Compiler/DoctrineQueryExten

[2017-03-26 14:14] ufik commented on #1012
Any little example? I don't follow what you mean by use our extensions (only think I can think of is to partialy copy DataProvider - part with

[code]

), but not sure if this is the right way.

[2017-03-26 14:19] soyuka commented on #1012
Yes, for the filters we use a [`FilterExtension`](https://github.com/api-platform/core/blob/master/src/Bridge/Doctrine/Orm/Extension/FilterExtension.php). You'll need at least this one if you want our built-in filters.

[2017-03-26 14:36] ufik commented on #1012
Any idea how to inject this ```array $collectionExtensions = []``` ?

[2017-03-27 08:55] Timothe-Imadev commented on #1001
@soyuka have you can try it ? thank's

[2017-03-27 09:24] soyuka commented on #1001
So, indeed if I remove every groups I'm retrieving a simple string as `id`. Though, if there are groups, you'll get an object. I'm not sure that this should be considered as a bug or a feature.

May I ask why is it an issue to have an object instead of a string? Note that it won't get the full object back if the serialization group only uses the identifier.

ping @api-platform/core-team wdyt?

[2017-03-27 19:57] jordscream commented on #973
@teohhanhui , Doctrine returns a 409 conflict cause we try to insert the same ID. But 409 conflict displays in ErrorNormalizer a SQL sensitive details even in production. So for the moment We decorates ErrorNormalizer to catch 409 conflict and hide the SQL details when we are in production. Don't you think this error should be catched in the same way as [here](https://github.com/api-platform/core/

[2017-03-27 20:20] dunglas commented on #973
I'm not sure to understand. If Doctrine fail, it should be a 500 HTTP error.

[2017-03-27 20:21] dunglas commented on #973
Btw you should prevent such errors using the Validator component: http://symfony.com/doc/current/reference/constraints/UniqueEntity.html

[2017-03-28 08:05] jordscream commented on #973
@dunglas , when doctrine tries to insert with a constraint unique entity, it retourns a 409 conflict.
Anyway, When we use uniqueEntity, it works. Thanks for your advice

[2017-03-28 11:43] dunglas commented on #973
I don't get how it can be a `409`. Is Symfony, or the DoctrineBundle doing something like this? Can you provide a way to reproduce this?

[2017-03-28 11:45] dunglas commented on #973
Are you sure that you don't have a specific config? A one inspirited from http://symfony.com/doc/current/bundles/FOSRestBundle/4-exception-controller-support.html for instance?

[2017-03-28 12:49] robertosanval opened #1015 "Provide an example of custom search filter"
Hello,

I need to do a custom search in an Entity based in a param value, how I could implement that?

The documentation about this point it's very poor https://api-platform.com/docs/core/filters#creating-custom-filters

Thanks

[2017-03-28 13:57] Tim59 commented on #973
Hello @dunglas , I work with @jordscream,

The 409 code was generated by the exception_to_status config , I have mapped Doctrine\DBAL\Exception\UniqueConstraintViolationException to 409 code.

[2017-03-28 13:58] jordscream commented on #973
@dunglas my bad ^^

[2017-03-29 07:45] Tim59 commented on #1015
Hello @robertosanval ,

Maybe this can help you : https://github.com/Tim59/api-platform/commit/7ece6dd3fc6e2cc1108e0779bcf16dd882a51999

[2017-03-29 09:23] jordscream opened #1016 "[Question] about 409 HTTP status code"
Hello,

In my team, we discussed about the HTTP status code 409 ( conflict )

Most of developpers suggest to use it when we have duplicate entry in DBMS

See Amazon: http://docs.aws.amazon.com/AmazonSimpleDB/latest/DeveloperGuide/APIError.html
See Stripe: https://stripe.com/docs/api#errors
And others...

Now, in our API platform project, we put a UniqueEntity in our Entity and API platform returns

[2017-03-29 09:30] pierre-H opened #1017 "Update to 2.0.4 : *field* is already defined"
Hello,

First, thank you for your work : Api Platform is great !!!

I just updated from Api Platform from 2.0.3 to 2.0.6 and when I try to go on a GET list, I've got a doctine error for this request :

Do you need the SQL query ?

Thank you !

[2017-03-29 09:49] pierre-H commented on #1017
After investigation, the problem is form the 2.0.4 version

[2017-03-29 09:59] soyuka commented on #1017
Yes, please update to 2.0.6 should be fine!

[2017-03-29 10:59] robertosanval commented on #1015
Thanks @Tim59 I really appreciate your help!

[2017-03-29 10:59] #1015 closed

[2017-03-29 11:58] pierre-H commented on #1017
@soyuka I tried first with 2.0.6 and I had the problem. Then, because it was an update from 2.0.3 o 2.0.6, I wanted to know which version exactly creates the bug. So I tried with 2.0.4 and I had the bug so to update to 2.0.6 will not fix the problem because I already tried it.

[2017-03-29 12:19] soyuka commented on #1017
Please give a way to reproduce (ie some entities + resource definition).

[2017-03-29 12:22] soyuka commented on #922
https://github.com/api-platform/docs/pull/178
#1015

[2017-03-29 12:22] #922 closed

[2017-03-29 12:22] soyuka commented on #1015
@Tim59 do you think you can help us improve the docs on this matter? We recently updated it through https://github.com/api-platform/docs/pull/178 but it may not be enough?
Thanks!

[2017-03-29 15:01] jordscream commented on #1001
@soyuka , in fact , we have a very complex entity which refers to itself with a parent attribute.

If we let like this, when we do a get of this entity, API platform displays our complex structure json Entity including a complex structure json entity which is the parent attribute. Or we do not want to display the parent, only his IRI.

We use @Groups to select only field we want to display, includ

[2017-03-29 15:12] BallisticPain commented on #521
So I cannot find the above in the documentation. I would have imagined it being in the Security section of the documentation. That section links off to other areas, but doesn't mention anything about Voters and Listeners being used together. I think this needs to be more prominent. Most people are going to need to add permissions to their Api calls, and won't want to write their own actions as tha

[2017-03-29 15:12] pierre-H opened #1018 "[question] Use Callbacks to Serialize Properties"
Thank you to Api Platform for your great work !

Is it possible to use the [Serialize Properties Callback fonctionnality](https://symfony.com/doc/current/components/serializer.html#using-callbacks-to-serialize-properties-with-object-instances) in order to transform one field ?

In my example, I've got a Symfony Service which transform RTF string to HTML and I'd like with a callback to transform mu

[2017-03-29 15:19] soyuka commented on #1001
@jordscream As the Entity is referencing itself, it seems logic (to me) that the groups apply recursively, and therefore you'll get every fields serialized by the root entity. It might be that you'd have to write your own normalizer for this use case, or maybe @teohhanhui has a better solution?

[2017-03-29 15:23] soyuka commented on #1018
We don't have any configuration for the serializer callback, but our normalizers are extending the `AbstractObjectNormalizer` so this is definitely possible by adding your own normalizer on top of api-platform's ones.

[2017-03-29 15:27] soyuka commented on #521
@BallisticPain please take a look at #938 sadly it's not documented yet, any help is really appreciated! Hope this helps.

We talked about Voters in this repository issues, I can dig back the tickets if needed.

[2017-03-29 15:28] soyuka commented on #1018
Maybe https://github.com/api-platform/docs/issues/152 can be interesting.

[2017-03-29 15:28] soyuka commented on #1001
Maybe https://github.com/api-platform/docs/issues/152 can be interesting.

[2017-03-29 15:30] soyuka commented on #1012
With a CompilerPass? [see here](https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Bundle/DependencyInjection/Compiler/DoctrineQueryExtensionPass.php)

[2017-03-29 15:32] soyuka commented on #1005
I don't get it, what exactly would you want to do? You can already add your own routes on top of the default operations.

[2017-03-29 15:50] pierre-H commented on #1018
Finally, I added a [Event Listenet](http://symfony.com/doc/current/doctrine/event_listeners_subscribers.html).
The serializer callback would be a great improvement to Api Platform. I will try to implement it later ...

[2017-03-29 16:40] dunglas commented on #1016
Create a custom validation constraint throwing an exception that you will map to 409?

[2017-03-29 19:44] mitalcoi opened #1019 "[Question] How to instantiate entity correctly?"
If I really need to be sure, that there is no possibility to create some entity with mandatory constructor data - what will be the right way to instantiate it, using api-platform? I have tried to set property via events, and it doesn't work.
[code]

<img width="1112" alt="2017-03-29 22 44 20" src="https://cloud.githubusercontent.com/assets/3224226/24473256/4a202416-14d1-11e7-92ff-c4bfe5dc362b.png"

[2017-03-30 04:06] teohhanhui opened #1021 "FilterEagerLoadingExtension messes up `ORDER BY` a `HIDDEN` field"
FilterEagerLoadingExtension does not handle `ORDER BY` a `HIDDEN` field properly.

Before:
[code]

After:
[code]

[2017-03-30 07:29] jordscream commented on #1016
@dunglas , create a new Exception Class in api platform to catch Unique Constraint with 409 status code will make any sense ?

[2017-03-30 07:44] wadjeroudi commented on #972
Is there some api version management (except fos version, and jms serializer) in api platform ?
Because I see in the doc generated v 0.0.0, how is it defined ?
[code]

[2017-03-30 07:44] mitalcoi commented on #1019
Update:
I think, this solution is good for me: https://symfony.com/doc/current/components/serializer.html#using-callbacks-to-serialize-properties-with-object-instances

But I don't know how can I get access to serializer behaviour in API-platform

[2017-03-30 10:37] mmuruev commented on #1005
Additional methods existed by default for Entity. like 'count'  'findOne' and so on, 'head'. Like loopback does for any entity.

[2017-03-30 12:21] soyuka opened #1023 "FilterEagerLoading doesn't support composite identifiers"
Due to no multi-column support with IN statements (https://github.com/doctrine/doctrine2/issues/5238).

We could support this case by using one sub query per identifier, but it may be better to add the multi-column support in Doctrine.

[2017-03-31 15:39] #989 closed

[2017-04-01 07:17] #1023 closed

[2017-04-01 07:17] #1021 closed

[2017-04-01 17:57] nik-lampe opened #1025 "Wrong attributes serialized when embedding multiple different inherited entities"
When serializing an related entity which hast some kind of entity with inheritance  embedded (doesn't actually matter if it's single table or joined).
The properties of the parent class are serialized, and ONLY the properties of one of the child classes. But for all entites, regardless of their type.

This is a sample setup:
[code]
[code]
[code]
[code]

When retrieving a RelatedEntity which has a

[2017-04-01 17:59] nik-lampe commented on #1025
After Debugging a little I see that the method `getAllowedAttributes` of `api-platform/core/src/Serializer/AbstractItemNormalizer.php` returns the right attributes only for the first related entity, for the second it returns the same attributes as the first one.

The `CachedPropertyMetadataFactory` returns in method create in line 39 the propertyMetadata from Cache instead of creating new, because

[2017-04-01 18:22] soyuka commented on #1025
I think I had the same issue https://github.com/api-platform/core/issues/810 I then managed my groups with yaml. It is more configurable IMO.

[2017-04-02 14:13] insekticid opened #1026 "Impossible to set identifier on upper cased attribute"
Upper Case attribute name example, that doesn't work:
Btw, there is no mention about `@ApiProperty(identifier=true)` in docs :/ !

[code]
Resource:
[code]
Request
curl -X GET --header 'Accept: application/ld+json' 'http://127.0.0.1:81/project/48'
Response:
[code]

temporary solution is to define lower case attribute :
[code]

Why I had to use upper case name? Because of bad SOAP service naming con

[2017-04-02 15:31] sbelvadi opened #1027 "Symphony - deserialization - need some help"
I am having an issue when deserializing a JSON into an Object using symphony.
I am no expert on PHP and Symphony, just started and would like to request your advise.
Thanks

Symphony initializations are below:

[code]

Specific error is
Symfony\Component\Serializer\Exception\UnexpectedValueException: The type of the "artistSocialContact" attribute for class "App\Artist\ArtistProfile" must be one o

[2017-04-03 05:53] teohhanhui commented on #1026
I'd consider this a bug.

[2017-04-03 12:40] Tim59 commented on #1001
@soyuka thank's but don't think that can help me, @dunglas or @teohhanhui any other ideas ?

[2017-04-03 13:02] dunglas commented on #1001
I would use a custom normalizer storing the recursion level for such use case. I don't think we can use a generic solution for this.

[2017-04-03 13:05] insekticid opened #1029 "Q: How to autoretrieve custom relations with custom object?"
[code]

[code]

How to autoretrieve this:
[code]

[2017-04-03 13:24] dunglas commented on #1029
It should work if you have the appropriates getters and setters. What output do you get?

[2017-04-03 13:27] dunglas commented on #1027
What do you try to achieve? When using API Platform, the Symfony Serializer is already instantiated for you and object serialization/deserialization is done automatically by the framework. You don't have to handle that yourself, just mark your class with the `@ApiResource` annotation (take a look at the tutorial: https://api-platform.com/docs/distribution/

[2017-04-03 13:28] dunglas commented on #994
👍 except for the the dependency with DS. DS is awesome I prefer to have the same behavior everywhere.

[2017-04-03 13:29] dunglas commented on #1016
Yes (IMO).

[2017-04-03 13:30] dunglas commented on #1018
It's weird that it's not already supported. It's an easy pick.

[2017-04-03 13:40] dunglas commented on #1025
@soyuka do you have any idea how to fix this? It's a major bug.
@meyerbaptiste can you take a look at this one and the solution suggested by @nik-lampe?

[2017-04-03 13:44] nik-lampe commented on #1025
I have found a few more places in the code which might have to be changed.
In my current project it works fine now, but I found another bug. I will
post more information tomorrow.

Kévin Dunglas <notifications@github.com> schrieb am Mo. 3. Apr. 2017 um
15:40:

@soyuka <https://github.com/soyuka> do you have any idea how to fix this?
It's a major bug.
@meyerbaptiste <https://github.com/meyerbaptist

[2017-04-03 13:48] dunglas commented on #1025
Thanks! Don't hesitate to post a WIP Pull Request, it will allow us to review early.

[2017-04-03 13:48] soyuka commented on #1025
@dunglas never noticed this when I'm using parent classes I don't usually need a Resource on the parent class... Indeed this is a major bug and I have no clue why it does this, it has to do with how caching works (keep properties of first class, because `instanceof Parent === true` on the second, no changes are made).

[2017-04-03 13:49] dunglas commented on #1025
Yes, I usually avoid to use inheritance for entities too. Maybe should be just remove the ability to use inheritance with API Platform, IMO it's a bad practice, it makes the code complexer and leads to bugs...

[2017-04-03 14:01] soyuka commented on #1025
Sometimes it's inevitable. Though, having a `Resource` on the parent entity feels weird. IMHO an **Item** in a **Collection** of **Resources** should always have the same **Type**. To support this properly, it should serialize only the properties that are the same in every child entity or only the one from the `Parent`.

Anyway, we can maybe find an easy fix for this and still keep this "feature".

[2017-04-03 14:25] insekticid commented on #1029
detail = null

On 3 Apr 2017 3:24 p.m., "Kévin Dunglas" <notifications@github.com> wrote:

[2017-04-03 14:26] dunglas commented on #1029
It looks an hydratration problem. Are you using Doctrine? If yes, can you provide the mapping?

[2017-04-03 15:41] meyerbaptiste commented on #1026
This problem comes from Symfony and its PropertyInfo component. You can see it in the [`ReflectionExtractor::getProperties()` method, L86-88](https://github.com/symfony/symfony/blob/313fec952f2593509c65a74410c54fcc2eb2f972/src/Symfony/Component/PropertyInfo/Extractor/ReflectionExtractor.php#L86-L88).

To fix this problem you can change the visibility of your `Id` attribute from `protected` to `pub

[2017-04-03 16:55] nik-lampe commented on #1025
While building my data model I didn't feel very good about it either.
But actually I can think of some cases where you need inheritance for entities.
For example https://symfony.com/legacy/doc/more-with-symfony/1_4/en/09-Doctrine-Form-Inheritance

Or in my project I have an entity that consists of many different components in one Collection. These componentes can be of different type and thus have

[2017-04-03 16:55] insekticid commented on #1029
Without doctrine. Like I sad in topic name

On 3 Apr 2017 4:26 p.m., "Kévin Dunglas" <notifications@github.com> wrote:

[2017-04-03 17:42] dunglas commented on #1029
Can you post your data provider? If you don't use Doctrine, you must take care of hydrating relations by yourself (or ensure that your ORM or whatever properly do it).

[2017-04-03 19:09] jordscream commented on #1016
@dunglas ok will propose soon a PR for this ^^
thanks :-)

[2017-04-03 19:25] teohhanhui commented on #994
I suggest we adopt php-ds in 3.0 :smile:

[2017-04-03 19:28] teohhanhui commented on #1026
Uhh... We have this same weird check in https://github.com/api-platform/core/blob/93bab59589a308f05bcf41b75b50608efc64b1d0/src/Metadata/Property/Factory/AnnotationPropertyNameCollectionFactory.php#L77-L79

[2017-04-03 19:59] insekticid commented on #1026
Yes. I found this too

On 3 Apr 2017 9:28 p.m., "Teoh Han Hui" <notifications@github.com> wrote:

[2017-04-03 20:00] insekticid commented on #1029
How I can take care of mapping? No documentation exists

On 3 Apr 2017 7:42 p.m., "Kévin Dunglas" <notifications@github.com> wrote:

[2017-04-03 21:48] dunglas commented on #994
Maybe will it be available by default in PHP8 :P

[2017-04-03 21:50] dunglas commented on #1016
After double thinking about it, I'm not sure anymore :) Let's see the PR but not guarantee, it's maybe to specific.

[2017-04-03 21:52] dunglas commented on #1026
Good catch @teohhanhui, I was sure we have such thing... somewhere! Maybe could we just copy/paste this test?

[2017-04-03 21:52] dunglas commented on #1026
@insekticid can you test if adding this check fix your issue?

[2017-04-03 21:55] dunglas commented on #1029
Of which mapping? Your custom data provider must return the object, and all its relations must be populated (at least all those needed by the serializer).
Here, the serializer call `$obj->detail`, it is `null`, so it displays `null`. Set `$obj->detail` to something else in your data provider and it should be all good.

[2017-04-04 06:18] insekticid commented on #1029
I made custom data provider, that gets data from SOAP service.

What I want is:
Create new Entity Class with "return SomeClass" annotation and API Platform will automatically gets this data from my DataProvider becaouse of this annotation.

Now I created EmbeddedRelationNormalizer+ new EmbeddedRelation class.

`
    public function normalize($object, $format = null, array $context = array())
    {

[2017-04-04 07:17] insekticid commented on #1026
If I made property $Id public, it works. But there is simple fix, just add
[code]
![reflectionextractor](https://cloud.githubusercontent.com/assets/177340/24645205/7f3d7cb2-1917-11e7-8aa4-04fc607d893d.png)

[2017-04-04 07:19] soyuka commented on #1026
#257

[2017-04-04 09:51] meyerbaptiste commented on #1026
Yep @teohhanhui but here these lines have no impact because the property is already retrieved by [these previous lines](https://github.com/api-platform/core/blob/93bab59589a308f05bcf41b75b50608efc64b1d0/src/Metadata/Property/Factory/AnnotationPropertyNameCollectionFactory.php#L64-L68):
[code]

BTW [this class is currently not used](https://github.com/api-platform/core/blob/20a360e6ad0328ab56d11c10

[2017-04-05 11:16] aistis- opened #1031 "Swagger doc normalizer does not handle definitions correctly"
Hi!

I am trying to define custom swagger docs, definitions are not parsed correctly. For example: If I have only one custom endpoint for resource (`PUT`), and I define in `swagger_context` fields [parameters](https://github.com/api-platform/core/blob/aaae07f3f6c012388372383f6b707fd58cf66720/src/Swagger/Serializer/DocumentationNormalizer.php#L296) and [responses](https://github.com/api-platform/co

[2017-04-05 14:11] sstok commented on #991
Amazing news! API-Platform support for RollerworksSearch is ready (for testing).
Note that ElasticSearch is currently not yet supported, but Doctrine ORM is.

RollerworksSearch 2.0 as a whole is still in alpha phase because I want to be sure that everything is taken care of properly. But most parts are heavily tested.

Installing
---------

Integration for the Symfony FrameworkBundle is completely

[2017-04-05 14:26] soyuka commented on #991
Could you explain what does `RollerworksSearch` do that the embedded filters can't do?

Great work btw, looks nice!

[2017-04-05 15:11] sstok commented on #991
RollerworksSearch is a complete search solution, it takes care of everything.

Processing the Input (transforming to a Model format), optimizing the condition (can supports nested grouping), and for Doctrine ORM you have some special options that allow for complex queries (like searching for a user based on both date and age (in years)). And handling relations without to much complexity, it does r

[2017-04-05 15:34] soyuka commented on #991
Seems fair, thanks for the clarification. About the cache, it's a "search metadata cache" right (from your code)?

You said above that it can

Why is that?

-----------------

Okay so you just added a PR to have the ability to add a query hint on the QueryBuilder. This is great lol, I missed this feature so much. Might help improve the code here btw (currently `QueryResultExtensions` are used for

[2017-04-05 17:56] hugohenrique commented on #924
This is a recurring problem. Currently i have same problem.

[2017-04-05 18:27] hugohenrique commented on #924
ping @dunglas any news?

[2017-04-05 22:10] magarzon commented on #1016
I don't like HTTP 409 error in UniqueConstraint validation violation. According to the specification, 409 error code is:

[2017-04-06 04:41] nik-lampe commented on #1025
I am currently busy with a project which has the deadline tomorrow. I decided to remove the inheritance in this case just to get it over with.

After that I will create a PR.
I came across some more issues with the inheritance and have written down my observations so I hope I can also create example projects where we can see the bugs I came across.

[2017-04-06 06:57] pierre-H opened #1033 "Proposition: using annotation for filters"
Thank you again for your great work !

It would be easier to add a filter in the entity with annotations instead of adding a service.
For example :
[code]

The goal here is to simplify the use of filters with Api-Platform, and I think it's important because the great success of Api-Platform is it's simplicity.

[2017-04-06 07:03] soyuka commented on #1033
I think this is a good idea. We should wait for @api-platform/core-team approval first, but would you ike to work on a PR for this feature?

[2017-04-06 07:11] dunglas commented on #1033
I like the idea, may I suggest an alternative syntax?

[code]

I would also allow to add the `@ApiFilter` on the class to enable the filter for all properties.

[2017-04-06 07:13] vincentchalamon commented on #1033
I would love to see this feature! But we should also think about filters applied to multiple fields (i.e. `search_filter`)

[2017-04-06 07:18] dunglas commented on #1033
We'll need a bridge with the Symfony DI component:

1. collect all annotations for the same filter in a given class
2. create a service extending the `abstract` one with all properties of this class configured

[2017-04-06 07:25] dunglas commented on #1029
Ok, it's not how API Platform is designed.

Your data provider should return the whole object graph already populated. If you want some sort of lazy loading (as Doctrine do), you should use proxies (I recommend https://github.com/Ocramius/ProxyManager) to play the request to the SOAP server only when needed.
It will be easier to it this way than using custom normalizers.

[2017-04-06 07:26] dunglas commented on #1031
Can you provide some failing code?

[2017-04-06 07:34] aistis- commented on #1031
Let's say we have only one endpoint in the entire application. It is defined as custom endpoint (`_api_receive: false`).

[code]

[2017-04-06 07:45] insekticid commented on #1029
Thanks for ProxyManager hint. I will look into it

[2017-04-06 08:01] soyuka commented on #1033
[code]

This is really neat, it'll help using custom filters too :).

This might work well on simple filters, or if you  want the same behavior for every properties. I doubt that this would be useful in real case scenarios.

For example with the `search_filter`:

[code]

This would mean that properties filters override the resource ones?

What about multiple filters on one property? Would there be

[2017-04-06 08:02] sroze commented on #1033
I'd love such feature! Happy to prototype it :)

[2017-04-06 08:06] dunglas commented on #1033
Yes, exactly like for `@Assert` annotations.

[2017-04-06 08:09] sstok commented on #991
No, the caching is about keeping a processed (and optimized) search condition in your cache.

When you supply a condition `/books.json?search...` the ArrayInput processor transforms this input to a SearchCondition object (with values in the Model format. eg. a DateTime object for a datetime value). This also includes constraint validation (using a custom validator, like the Symfony validator compo

[2017-04-06 08:12] soyuka opened #1035 "Improve doctrine extensions and pagination"
To avoid all the DQL work on every request we can (and should) actually cache the DQL/SQL (not sure if we can use the QueryCacheImpl but would be better).

Todo:

- [x] improve Should Eager code duplication
- [ ] ~~cache resulting dql or sql~~
- [ ] review the pagination helper (#955) because it helps with DX and fixes some edge cases

[2017-04-06 08:17] dunglas commented on #1035
The generated DQL vary depending the applied filters isn't it? We cannot predict it reliably. And Doctrine already cache the result of the DQL to SQL transformation (if configured properly).

[2017-04-06 08:22] nik-lampe commented on #1025
Here is what I mean with the last sentence:

https://github.com/api-platform/api-platform/issues/272

[2017-04-06 08:49] soyuka commented on #1035
Indeed we can't predict the filters. I'll see how I'll handle the `should eager` part but I'll probably have some optimizations to do there.
Anyway this is more of a reminder that I need to do this stuff \o/.

[2017-04-06 08:56] dkarlovi commented on #991
@sstok first of all, this is an amazing amount of work, thank you!

I've yet to try this (will do over the weekend), but just to ask: with your Elasticsearch integration, do you intend to somehow integrate [FOSElasticaBundle](https://github.com/FriendsOfSymfony/FOSElasticaBundle)?

I ask because of for example [EnqueueElasticaBundle](https://github.com/php-enqueue/enqueue-elastica-bundle) (extends

[2017-04-06 10:49] sstok commented on #991
RollerworksSearch is a library not a bundle 😉 it's more about searching rather then indexing, as other libraries have already solved that properly. My main goal was (and is) providing a powerful abstraction for searching without having to deal with the implementation details of various storage systems, and making usage as simple as possible.

*It's the one thing most systems lack or only support f

[2017-04-06 10:56] vincentchalamon commented on #924
@fbourigault Did you find a fix? Can you share how please?

[2017-04-06 11:18] fbourigault commented on #924
I use string instead. See https://github.com/api-platform/core/pull/927#issuecomment-276894661.

[2017-04-06 11:18] vincentchalamon commented on #924
@fbourigault OK I've found a solution.

According to [your comment](https://github.com/api-platform/core/pull/927#issuecomment-276894661), it's not recommended to use objects as identifiers. Now I use a string identifier, but still use Ramsey as generator (overridden):
[code]

And the UuidGenerator overridden:
[code]

Hope this solution could help if other people have this issue 😃

[2017-04-07 16:32] Simperfit commented on #977
@hugohenrique any update on this one ?

[2017-04-07 17:57] hugohenrique commented on #977
Yes! I added the priority and work.

[2017-04-07 17:57] #977 closed

[2017-04-08 05:38] bwegrzyn opened #1039 "Eager Loading Extension does not use dynamic serialization context"
I use a custom context builder to enable a resource expansion type feature. However, when looking at the context that the eager loading extension uses, it does not use the dynamic serialization groups I have defined.

Looks like the getSerializerGroups() method in EagerLoadingExtension gets them groups directly from the resource metadata object instead of the context builder.

[2017-04-08 06:40] dunglas commented on #1039
ping @soyuka

[2017-04-08 08:59] soyuka commented on #1039
I think that's because the `SerializerContextBuilder` relies on `Request` that I didn't injected it to the extensions.

Which one of our contexts does handle the so called dynamic serialization group?

[2017-04-08 09:02] dunglas commented on #1039
We may inject the `request_stack` service and use the `SerializerContextBuilder` only if a request is available?

[2017-04-08 09:06] soyuka commented on #1039
So it's [this class](https://github.com/api-platform/core/blob/master/src/Serializer/SerializerContextBuilder.php) that handles dynamic serialization?

Yeah 👍  we have to do that because our eager loading will only fetch what needs to be serialized, and those groups are missing.

[2017-04-08 12:09] dunglas commented on #1004
Closed by #1038.

[2017-04-08 12:09] #1004 closed

[2017-04-11 06:32] cr3a7ure commented on #962
I am copying from [the api-platform rep](https://github.com/api-platform/api-platform/issues/274) since here is more appropriate to talk about.

Well, i asked a question in the mailing list but in the meantime I have found a simple workaround I'd like to put on the test. Since search is a simple GET method with parameters, we could add the field ` "*expects": {"@type": "hydra:IriTemplate" ...}, `

[2017-04-11 09:20] jordscream commented on #1033
cool feature , I can propose something also ^^

[2017-04-11 09:52] nik-lampe opened #1043 "Custom filtered collection as property throws error"
I also posted this question on stackoverflow, but I am not sure if it is a bug or a question...
https://stackoverflow.com/questions/43339263/api-platform-custom-filtered-collection-as-property

I am trying to serialize a collection of an entity multiple times with different criteria. I have created the following example entities:

[code]

[code]

And an event subscriber for the Doctrine Post Load

[2017-04-11 10:14] kate-kate opened #1044 "Error for custom data provider with entity without ORM"
Hello. I've made custom ItemDataProvider according to [https://api-platform.com/docs/core/data-providers](url). Unfortunately, there is no example for using not ORM entity in docs. So I made the shortest variant, but it always throws an error like 'Parameter  "id" for route "api_campaign_types_get_item" must match "[^/\\.]++" ("" given) to generate a corresponding URL.' when I'm trying to send req

[2017-04-11 10:20] soyuka commented on #1044
You need `@ApiProperty(identifier=true)` on the `id` property :).

[2017-04-11 10:29] kate-kate commented on #1044
@soyuka Thanks a lot!!!

P.S. But still believe it should be mentioned more explicitly in this part of docs (finally i found it in serialization, maybe it would be more searchable with little separate "Custom entity" section)

[2017-04-11 10:34] soyuka commented on #1044
@kate-kate may you help us improving the docs on this? https://github.com/api-platform/docs Thanks!

[2017-04-11 10:34] #1044 closed

[2017-04-11 13:56] fedotovaleksandr opened #1045 "Not supported Method in Symfony 2.8.*"
Request haven't a method getMimeTypes in  Symfony 2.8.*
/api-platform/core/src/EventListener/AddFormatListener.php

`   61:         $mimeTypes = Request::getMimeTypes($routeFormat);`

Not supported !
Please use for Symfony 2.8.* :
`$mimeTypes = [$request->getMimeType($routeFormat)];`

[2017-04-11 14:18] magarzon commented on #1045
API Platform requires Symfony v3.2, doesn't support 2.8

[2017-04-11 18:56] nik-lampe commented on #1025
It seems like this is not only occuring with inheritance.
I stumbled across the same problem here https://github.com/api-platform/core/issues/1043 and my changes in the PR fixed it for me

[2017-04-12 07:24] nik-lampe commented on #1043
I solved this with the changes I made in the PR to fix #1025 . So I guess this does not only concern entity inheritance

[2017-04-12 08:19] fbourigault opened #1047 "Doctrine CollectionDataProvider does not honor CollectionDataProviderInterface::getCollection contract"
When null is used as second argument of `ApiPlatform\Core\Bridge\Doctrine\Orm\CollectionDataProvider::getCollection`, the `ApiPlatform\Core\Bridge\Doctrine\Orm\Extension\FilterExtension::applyToCollection` doesn't handle the exception thrown by `ApiPlatform\\Core\\Metadata\\Resource\\ResourceMetadata::getCollectionOperationAttribute()`.

Exception message:
[code]

I hit this bug while writing my G

[2017-04-12 08:35] soyuka commented on #1047
Nice one, it's because [ResourceMetadata->getCollectionOperationAttribute](https://github.com/api-platform/core/blob/374b8c8919deea0f7763fafcf445362567dd72ab/src/Metadata/Resource/ResourceMetadata.php#L173) doesn't accept `null` as first parameter. @dunglas how should we fix this properly?

[2017-04-12 09:27] fedotovaleksandr commented on #1045
- Improve compatibility with Symfony 2.8

Version 2.0.3

[2017-04-12 09:27] fedotovaleksandr commented on #1045
https://github.com/api-platform/core/releases/tag/v2.0.3

[2017-04-12 09:35] fedotovaleksandr opened #1048 "[Question] Integrate with fos_js_routing?"
Hi guys!
I want integrate with fos_js_routing bundle , for this i must add 'expose' option to route ,for example in traditional way ` @Route("/api/x/x", name="x_x_x", options={"expose"=true}) `
But I use yaml config for configuration api-platform
'My\Entity':
    collectionOperations:
            get:
                method: 'GET'
                options: {expose: true}

How to add 'options' for r

[2017-04-12 09:50] soyuka commented on #1048
Operations are only for api-platform related routes. You should use the default routing configuration for this (either `@Route` with annotations or `routing.yml`).

[2017-04-12 10:18] teohhanhui commented on #1048
I wouldn't recommend using FosJsRoutingBundle... It belongs in the bygone era where the backend and frontend were coupled.

[2017-04-12 11:48] #1048 closed

[2017-04-12 14:25] magarzon commented on #1045
The "Improve compatibility with Symfony 2.8" that version did was only to use PHP constants instead of JsonResponse constant.
Anyway, I don't know the reason to support 2.8 in the core, and not in the API Platform framework

[2017-04-12 14:34] #1026 closed

[2017-04-12 15:53] aldenw opened #1050 "ApiResource annotation of "string|null" throws exception in Doctrine's DocParser"
In the api-platform project when setting the "description" property annotation for ApiResources, Doctrine's DocParser class does not recognize the "null|string" syntax and throw an exception.  The ApiResource class currently is
[code]
The \Doctrine\Common\Annotations\DocParser class throws an exception on line 813, after not recognizing the "string|null" notation.   I worked around by removing the

[2017-04-13 06:57] soyuka commented on #1050
[code]

[2017-04-13 13:37] fedotovaleksandr commented on #1045
@magarzon  maybe i create PR and You look it up? Simply, all other functions of Api-platform work perfect in 2.8. 2.8 is LTS support version

[2017-04-13 14:33] Simperfit commented on #1045
@fedotovaleksandr If you could create a PR and we will look that.

[2017-04-13 16:25] #1047 closed

[2017-04-13 16:29] #986 closed

[2017-04-13 16:29] #988 closed

[2017-04-13 16:29] #940 closed

[2017-04-14 15:32] sanpii commented on #345
Some good news: the new version of pomm bundle, with the PropertyInfo list extractor, is on the road (first RC today).

I implemented the write event listener, but I don’t understand how can I get the data. Currently I use `$request->getContent()`: https://github.com/sanpii/api-platform-core/blob/pomm/src/Bridge/Pomm/WriteListener.php#L39

Some test about what the pomm bridge can do: https://githu

[2017-04-14 15:42] dunglas commented on #345
Great to hear!

About the event listener, I don't get why you need those lines: https://github.com/sanpii/api-platform-core/blob/pomm/src/Bridge/Pomm/WriteListener.php#L39-L40

At this point, the Symfony Serializer (in `DeserializeListener`) will already have updated the entity (https://github.com/api-platform/core/blob/master/src/EventListener/DeserializeListener.php#L66-L68).

[2017-04-14 15:43] sanpii commented on #345
Because the entity is empty. It’s probably a problem with the desezializer.

[2017-04-14 15:45] dunglas commented on #345
Indeed, looks like it fail to use the Pomm to PropertyInfo Bridge.

[2017-04-15 01:42] backbone87 opened #1061 "Remove Api prefix from Annotations"
All other annotations from symfony and doctrine dont prefix their annotations and its common practice to import the whole annotation namespace into a short prefix:
[code]

This is just pure cosmetic and low prio.

[2017-04-15 03:23] bwegrzyn opened #1062 "[Feature Request] Resource Expansion"
Would it be possible to add resource expansion as a feature to API Platform?

Basically, what I mean is that through resource expansion we can allow a user to specify which sub resources they want expanded on the resource they are requesting. For example, assuming we have a User->Group relation, when they request a User resource, they could pass a parameter with the request such as ?expand=group,

[2017-04-15 03:59] bwegrzyn commented on #1062
I was going through Symfony Serializer PRs, and I found this one scheduled to be included in 3.3. Seems like this would really help out with this feature?

symfony/symfony/pull/18834

@dunglas you mentioned that this would be supported out of the box in API Platform. Any ideas on when this feature could be expected?

[2017-04-15 06:40] bwegrzyn commented on #1025
I'm running in to this issue as well, and would like to see it fixed instead of the feature being removed. Especially since Doctrine is basically a first class citizen for this project.

There are good reasons to have mixed types in a single collection. For example, I have a Document entity that has bunch of ChangeEvents attached to it. These events are all similar, but contain slightly different

[2017-04-15 08:03] dunglas commented on #1025
@bwegrzyn there are better solutions now to handle mixed types, namely JSON columns (with https://github.com/dunglas/doctrine-json-odm).

If someone want to work on a fix, I'll be glad to merge it. But I was against supporting `abstract` class from the very beginning in API Platform, the author of Doctrine himself discourage to use this feature of the ORM and since today this feature has always be

[2017-04-15 08:41] sstok commented on #1061
Personally I think `@ApiResource` looks cleaner then `@API\ApiResource`.

webmozart (Bernhard Schussek) creator of the Symfony Validation component actually recommends to not use `as Assert` https://speakerdeck.com/webmozart/symfony2-forms-dos-and-donts (page 83) but instead always import all annotations explicitly, as it's more uniform with how we use PHP classes.

In the end it's more a personal

[2017-04-15 08:51] dunglas commented on #1061
I also find `@ApiResource` better (`Resource` or `Property` are terms too generic). Anyway, we cannot change the name now because it would be a BC break.

[2017-04-15 08:54] backbone87 commented on #1061
Thats exactly what this ticket is meant to address. `@API\Resource`

webmozart's recommendation is actually orthogonal to this ticket:
[code]

And yes: just renaming the annotation would be a BC break, but i am sure there are possibilities for soft transitions. Anyway, I would be very OK, if i have to wait until v3. After all its just cosmetic

[2017-04-15 09:13] dunglas commented on #1061
webmozart (and a lot of other people) recommend to not alias the namespace (`@API\Resource` is discouraged). `@Resource` is not clearer (resource doesn't mean anything). `@ApiResource` is explicit.

[2017-04-15 09:18] teohhanhui commented on #1061
`resource` is a reserved word since PHP 7. There's no possibility of us
changing this back.

On Sat, 15 Apr 2017, 17:13 Kévin Dunglas, <notifications@github.com> wrote:

[2017-04-15 09:42] backbone87 commented on #1061
just out of curiosity: whats the reasoning behind the "per class import" rec? (none given in the linked slides)

[2017-04-15 11:11] sanpii commented on #345
Ok, that works fine with a denormalizer for the pomm entities.

But in exchange, I lose the hydra metadata: https://github.com/sanpii/api-platform-pomm-test/blob/master/tests/Features/pomm.feature#L130-L134

[2017-04-15 13:05] sroze commented on #1061
It'd say your dependencies are directly visible in the header of your file
On Sat, 15 Apr 2017 at 10:42, Oliver Hoff <notifications@github.com> wrote:

[2017-04-15 15:41] bwegrzyn commented on #1025
@dunglas Thanks for the link. I will take a look at it. I'm already using something similar in my project, but the downfall of this approach is that you cannot have relations. In my case, the status of a Document might change, so the StatusChangeEvent entity has a relation to the Status entity.

I'm definitely open to refactoring my implementation of the ChangeEvent entity I have. I'm just not sur

[2017-04-16 03:15] backbone87 commented on #1061
Which is only half true, because namespaces are just string expansions. `Some\Identifier` can be a class AND a namespace (a folder): `new Identifier` and `new Identifier\Anything` can be both valid.

So if a user looks at the imports, he cant be sure what the dependencies are, because each import can be potentially be a namespace import.

If a machine wants to know the dependency, it has to at lea

[2017-04-16 03:15] #1061 closed

[2017-04-17 17:05] pierredup opened #1064 "Issue with FOSUserBundle 2"
I'm still investigating the issue, but just wanted to mention it here so long, in case someone else has come across this.

I'm building a new api with FOSUserBundle 2, and the issue that I'm experiencing is that my user passwords are never hashed upon save. This is due to the `UserManager::updateUser` method never being called.

What I've found so far, in [ApiPlatform\Core\Bridge\FosUser\EventList

[2017-04-17 18:39] pierredup commented on #1064
Since #597, the `ApiPlatform\Core\EventListener\SerializerListener` (formerly `SerializerViewListener`) class changed priorty from 10 to 16.
The `ApiPlatform\Core\Bridge\FosUser\EventListener` class has a priority of 11, which means it now runs after the `SerializerListener`.

I have created #1065 to fix this issue

[2017-04-18 14:17] jhonatanTeixeira commented on #634
I am having problems with Embedabble, wich is not being deserialized.
Embedabble is common practice for those wich are trying to use the Value Objects into their domain.

I don't know if im doing somethig wrong... but im trying to solve it with a port deserialize listener

[2017-04-18 14:33] jhonatanTeixeira commented on #634
i've found my mistake... i didn't place a setter for my embedabbles and started them on my constructors.

That caused the serializer to not find a setter and not populate a not null property

[2017-04-18 19:57] bwegrzyn commented on #1043
Can you post the full exception? Also, if you are able, submit a PR with a failing behat test so I can help you debug this issue.

[2017-04-18 20:47] bwegrzyn commented on #1043
@nik-lampe I think I see what is causing the issue, but I'm not sure why it would only be caused by a filtered collection.

Ping me when you have a failing test case and I will work on a fix. It should be pretty simple.

[2017-04-18 20:53] bwegrzyn commented on #1043
@nik-lampe does PR #1063 work if the collection is not filtered using your subscriber?

[2017-04-19 12:17] backbone87 opened #1066 "Metadata factory chain is hard to predict"
Following use case:
[code]

In this case writable=false is completely ignored. That is because the metadata factory from the doctrine bridge sets the "isWritable" always as long as "isIdentifier" wasnt set.

What does work is `@API\ApiProperty(identifier=true, writable=false)`.

Anyway, I would expect that any metadata set in the annotations (or other "first class" metadata sources of api-platform

[2017-04-19 15:12] fedotovaleksandr opened #1067 "[Question] Add exsisting route to Api-platform"
Hi guys! I have existing route
(
for example api_ping that return only 200 status
` @Route("/ping", name="api_ping") `
) .

How i can add this route to api-platform's docs ?

[2017-04-19 15:22] meyerbaptiste commented on #1067
You can follow these links:

- https://github.com/api-platform/docs/issues/143#issuecomment-260221717
- https://github.com/api-platform/core/issues/887
- https://github.com/api-platform/api-platform/issues/185
- https://github.com/api-platform/core/pull/886

[2017-04-19 15:31] fedotovaleksandr commented on #1067
@meyerbaptiste  thanks! But in all Issues, work with Entity and _api_resource_class ,   can i add route to docs without resourse_class?

[2017-04-19 15:48] meyerbaptiste commented on #1067
I use my joker: ping @Simperfit aka Swagger killer

[2017-04-19 15:55] soyuka commented on #1067
@fedotovaleksandr I don't see anything in [the code](https://github.com/api-platform/core/blob/master/src/Swagger/Serializer/DocumentationNormalizer.php#L113) the would prevent you from adding a custom operation to the docs. But, I think that any `Operation` needs to be associated to an `@ApiResource` to be detected as one.

[2017-04-19 16:01] meyerbaptiste commented on #1067
Or you can decorate the `api_platform.swagger.normalizer.documentation` service.

[2017-04-19 16:02] soyuka opened #1068 "Any ideas on how we could speed up ResourceClassResolver?"
[This class](https://github.com/api-platform/core/blob/master/src/Api/ResourceClassResolver.php) gets called a lot. I already speed up things by ~20% by avoiding the `resourceNameCollectionFactory->create()` call (quick & dirty):

[code]

Though, `getResourceClass` is still slow \o/. I'm not sure that we can find any `key` to cache our `$value` though.
I think that by removing `try/catch` we could

[2017-04-19 17:11] #1025 closed

[2017-04-19 17:14] soyuka commented on #1043
#1063 should fix this, @nik-lampe feel free to ping me to re open!

[2017-04-19 17:14] #1043 closed

[2017-04-19 17:15] backbone87 commented on #1067
maybe an @ApiOperation would be something useful? this would allow to work operation centric

[2017-04-19 17:22] backbone87 commented on #1068
if the slow part is the custom iterator, than maybe using ResourceMetadataFactoryInterface directly (with a special instance that is configured to "fail fast", if cache didnt hit) could help.

Or extending the ResourceNameCollectionInterface to have a "contains" method.

[2017-04-20 06:50] bwegrzyn opened #1069 "Eager Loading Extension partial objects causing properties to not be available"
It seems like the eager loading extension loads partial objects from Doctrine through the use of the `@Groups` annotation. While this seems like it would be a good idea in theory, proves to be quite a hassle in practice.

I've started using @dunglas https://github.com/dunglas/doctrine-json-odm to store events with a bunch of data in them as opposed to using inheritance with several children. Becau

[2017-04-20 07:34] soyuka commented on #1069
I disagree about removing partials, it's neat to fetch only the data you need.

+1, for example `@ApiProperty(readableLink=true, readable=true)` should work in your case. (may relate to #1066)

[2017-04-20 07:38] soyuka commented on #1068
I think the slow part is [getResourceClass](https://github.com/api-platform/core/blob/020dbf21246bc7acbd8c417e0ab64bddafcadf3b/src/Api/ResourceClassResolver.php). Or, it's not that slow but it gets called a lot:  [Blackfire](https://blackfire.io/profiles/f121df89-b193-4268-9ff6-a554420742b2/graph?settings%5Bdimension%5D=wt&settings%5Bdisplay%5D=landscape&settings%5BtabPane%5D=nodes&selected=&calln

[2017-04-20 08:20] fedotovaleksandr commented on #1067
@backbone87 Hi my friend,thanks for reply! I can't find this annotation in ApiPlatform\Core\Annotation\*
it's swagger annotation?

[2017-04-20 08:29] soyuka commented on #1067
There are no such annotation yet @fedotovaleksandr

[2017-04-20 08:31] fedotovaleksandr commented on #1067
@soyuka Thanks .

[2017-04-20 08:32] #1067 closed

[2017-04-20 14:08] kate-kate opened #1070 "Assert\NotBlank() doesn't prevent AbstractItemNormalizer error"
Hi guys! I have an entity with related field like this:
[code]
where ```"create_manual"``` is a denormalization context group.

And then comes PUT request with ```"campaign":""``` (because there is a select in the frontend, which is sending campaign IRI from dropdown or empty string if user doesn't choose any).

 I expected validation error for this variant, but I get error: ```Type error: Argumen

[2017-04-20 14:39] desmax opened #1071 "Collection of Doctrine Single table inheritance entities"
I have an object, that has collection containing different entities, that use Single inheritance.
Problem is that only base fields are fetched, entity specific are null. As I understand its happening because Doctrine partial query is used, but how can I force load all fields for given collection?

[2017-04-20 14:45] soyuka commented on #1071
#1025 can you try the `2.0` branch?

[2017-04-20 14:48] desmax commented on #1071
@soyuka I am sorry for duplicate. And I am on master already.

[2017-04-20 14:49] soyuka commented on #1071
Hmm this patch hasn't been merged back to master yet :|.

[2017-04-20 15:06] soyuka commented on #1071
@desmax done through #1072 can you update?

[2017-04-20 15:14] desmax commented on #1071
@soyuka I don't seem to see any difference...

[2017-04-20 15:26] soyuka commented on #1071
ping @bwegrzyn

Quoting some related issues:

- #1069
- https://github.com/api-platform/api-platform/issues/277
- https://github.com/api-platform/api-platform/issues/266
- https://github.com/api-platform/api-platform/issues/263
- https://github.com/api-platform/api-platform/issues/272

I'll investigate this and hopefully find a clean fix.

[2017-04-20 15:30] bwegrzyn commented on #1071
@desmax Can you try to disabled eager loading and try again?

[code]

Also, can you provide a sample of your entities?

[2017-04-20 15:34] bwegrzyn commented on #1069
I agree that partial objects should be fixed rather than removed, I'm just not a fan of partial objects as they've caused me tons of issues in the past! :)

Settings readableLink=true doesn't do anything because EagerLoadingExtension->addSelect() ignores that property and readable=true is replaced with readable=false in SerializerPropertyMetadataFactory.

[2017-04-20 15:35] soyuka commented on #1071
Even better disable it on the resource:

[code]

[2017-04-20 15:52] soyuka commented on #1069
We need to fix #1066 first because user-configured metadata should take precedence over other configurations.

Never mind, this would not fix this particular issue if, like you said, you want to "load a property without also exposing it in the serialization process".

I see a few possibilities here:
1. Allow to disable partial selection
2. Adding a new Property metadata attribute allowing to fetch

[2017-04-20 15:57] bwegrzyn commented on #1069
I was just looking at #1066 and I do agree with what is said there.

As far as your suggestions, I think I would prefer option 2 then option 1, in that order. Both can probably be done without a BC.

[2017-04-20 16:15] bwegrzyn commented on #1071
@soyuka Interestingly... that doesn't disabled eager loading on a resource for me. I have to force it through config.yml. That might be a separate issue.

[2017-04-20 16:28] #1039 closed

[2017-04-20 16:29] soyuka commented on #1071
This is the condition:
[code]

Anyway, I need to refactor this fetchEager thing #1035

[2017-04-20 16:30] soyuka commented on #1066
User-configured metadata should take precedence over other configurations.

WDYT? I'd consider this as a bug.

[2017-04-20 16:31] soyuka commented on #1069
Okay, I'll submit a patch for this!

[2017-04-20 16:33] Simperfit commented on #1017
Could you please do the following ?

- Fork the [API Platform Standard Edition](https://github.com/api-platform/api-platform)
- Do the minimum modification to reproduce the bug
- Post the link in here

We will test that and confirm.

[2017-04-20 16:36] Simperfit commented on #1016
This could be contributed in a specific bundle anyway :).

Can we close this ?

[2017-04-20 16:37] Simperfit commented on #876
Closing as there are no feedback

[2017-04-20 16:37] #876 closed

[2017-04-20 16:38] Simperfit commented on #285
is there an ETA on this ?

[2017-04-20 16:43] Simperfit commented on #972
@wadjeroudi it's the parameter, and it's for information

[2017-04-20 16:43] #972 closed

[2017-04-20 16:49] dunglas commented on #1066
It's definitely a bug.

[2017-04-21 02:28] desmax commented on #1071
@bwegrzyn disabling eager loading via config does help.
On resource object I have one to many relation to base single inherited master class, marked as abstract.
All non abstract entities extend base class, some of them have additional fields, that are not present in base class. Base class is marked with `@ApiResource()` annotation.
[code]

[code]
[code]
Another thing that bugging me is that array

[2017-04-21 03:38] bwegrzyn commented on #1071
You must mark each entity with `@ApiResource`, even if they extend a base class that is marked with `@ApiResource`. Otherwise, the platform doesn't know about it and may generate the wrong query to fetch the data.

This is probably why it works when eager loading is disabled. Without eager loading, the API Platform will load the main resource, and then issue a separate query for each relation. The

[2017-04-21 03:43] bwegrzyn commented on #1070
I'm guessing the error is caused by strict types being declared on all files in api platform recently. I'm not sure why its trying to pass an integer though.

Can you post the full error?

[2017-04-21 04:06] desmax commented on #1071
@bwegrzyn

yes, that is the case. Still, even if I mark all sub classes as Resource - it does not load what it has to.(eager ON)

When I mark all sub classes as Resource, fields from them are still not serialized.
But when I mark base class and only one subclass - that subclass is serialized correctly, wtf.

Plus obviously, my generated documentation is a bit messy and misleading.

[2017-04-21 04:09] bwegrzyn commented on #1071
Hmm, I'm not sure. This should have been fixed by #1063.

Maybe you can contribute a failing test case?

[2017-04-21 07:45] kate-kate commented on #1070
@bwegrzyn of course, validation groups are not the same as groups on the normalization/denormalization context:) But I named them the same (it seems more simple for me). This is full ```@ApiResource``` annotation of my entity:
[code]

And here is the full error response:
[code]

[2017-04-21 08:02] desmax commented on #1071
@bwegrzyn I got the problem with serialization. your fix `$context['resource_class'] = $resourceClass;` is implemented in JsonLd Item normalizer and for that entity I use custom normalizer that extends AbstractItemNormalizer (because JsonLd normalizer is final, damn!)
Maybe we could move your fix one level higher?

[2017-04-21 08:10] kate-kate commented on #1070
Also I've created test with empty string passed to campaign and debugged it. At first ```setAttributeValue()``` method receive "campaign" as well, but then something happens, and it really get 0 as attribute. Maybe I will found what's wrong, looks like an empty string was deserialized as attribute named 0.

[2017-04-21 08:37] soyuka commented on #1071
@desmax Why do you need a custom normalizer? I'd try not to extend our AbstractNormalizer but instead inject the `JsonLd\Serializer\ItemNormalizer` and call it when I'm done doing custom things.
I don't think we can move that fix one level higher :| (not sure).

[2017-04-21 09:16] desmax commented on #1071
@soyuka I need to translate one field into user's language. Ok I will try injecting.

[2017-04-21 10:22] desmax commented on #1071
Injecting turned out a lot cleaner, thanks. Though I still have issue with eager loading not fetching subclass specific fields. Will try to debug now.

[2017-04-21 11:55] soyuka commented on #1071
Might be related to #1069

[2017-04-21 13:30] desmax commented on #1071
@soyuka how about this? https://github.com/api-platform/core/pull/1073

[2017-04-21 14:11] jordscream commented on #1016
@Simperfit Yes

[2017-04-21 14:11] #1016 closed

[2017-04-21 16:33] bwegrzyn commented on #1070
Nice job on debugging the issue. Can you open a pull request with the fix and some additional tests?

[2017-04-21 19:14] #1064 closed

[2017-04-24 09:42] cr3a7ure opened #1079 "Hypermedia controls at docs.jsonld"
Parsing the docs.jsonld, which is the Hydra description for the API, there are no links/IRIs that can be resolved in order for an automated client to perform the described operations.

The IRIs used are either local or schema.org based if we use SchemaGenerator.
So there is no information for the client as to where he should GET/POST.

One idea to address this is to change the IRIs of classes to s

[2017-04-24 14:40] dunglas commented on #1079
Hi @cr3a7ure, I've the same kind of questions. In my opinion, the best idea is to ask the Hydra mailing list: http://www.hydra-cg.com/

[2017-04-24 14:43] Simperfit commented on #1005
I don't know if it's really needed on core, we could need more insight on this.

[2017-04-24 14:45] kate-kate commented on #870
@Simperfit could you please advice, do we always have to make custom item operation route like /contacts/{id}/download? Also does it means, that route like /contacts/new/retrieve should return collection?

[2017-04-24 14:48] Simperfit commented on #870
@kate-kate IMO, if you want to be restful, you have to add the {id} parameters when it's a custom item operation. I think it should be avoided for item operation to leave out the {id}.

[2017-04-24 15:04] kate-kate commented on #870
@Simperfit and what if I need to get a new item with some presets (which depends on request params)? Like I send phone and if it is in db, I need to get entity with its phone IRI, customer IRI set and maybe some other fields processed?

[2017-04-24 17:24] cr3a7ure commented on #1079
Well, it's a good thing that others share my concerns :)
I will try to resolve those things (hydra:search, etc) and I hope I'll comeback with a solution-interpretation.

Thanks Dunglas for your dedication!

[2017-04-24 20:10] dunglas commented on #1070
Thanks you for the debugging and the very clear explanation @kate-kate.

[2017-04-24 20:14] dunglas commented on #1070
IIUC, the problem is that the type is not enforced here. It should be an array or an IRI, nothing else. Testing for `''` only partially fix the problem. In this specific case, we should not let other normalizers a change because only an IRI or an array containing a valid document is expected.

[2017-04-25 06:40] kate-kate commented on #1070
hello @dunglas, glad that you noticed this issue. IMO after InvalidArgumentException there should not be "a chance to other normalizers (e.g.: DateTimeNormalizer)", cause we normalizing relation and only string variant is IRI. But also it should raise validation error, not an exception, I think, because in the web in dropdowns default value often will be ''

[2017-04-25 15:14] jon1328 commented on #1050
Same here. Setting a default value of _null_ as suggested by @soyuka does not change anything.

To reproduce simply set up a new api-platform installation (I did it through composer) and set "description" in AppBundle\Entity\Foo:
[code]

We're ending up with:

Which occurs in [Doctrine/Common/Annotations/DocParser.php line 813](https://github.com/doctrine/annotations/blob/v1.4.0/lib/Doctrine/Commo

[2017-04-26 07:20] dunglas opened #1082 "Add a filter to pass dynamic serialization groups in the URL"
`http://example.com/books?groups=group1,group2` should add the passed groups to the list of applied groups. The groups configured tru annotations should be preserved or not depending of a configuration flag.

The filter should **not** be Doctrine dependent. It must implement the `FilterInterface` (to appear in the documentation) and decorate the `SerializerContextBuilder` to apply groups.

[2017-04-26 07:23] dunglas opened #1083 "Add a filter to select specific fields"
`http://example.com/books?fields=title,description` should serialize only the specified properties.

The filter should **not** be Doctrine dependent. It must implement the `FilterInterface` (to appear in the documentation) and decorate the `SerializerContextBuilder` to use [the new `attributes` context option](https://github.com/symfony/symfony/pull/18834) available in Symfony 3.3.

This filter sh

[2017-04-26 07:44] antograssiot commented on #1082
I love this feature, we implemented something close to that in our app but we also have a `Group`   entity si wé décider to go with `normalization_groups` as parameter name.

[2017-04-26 09:11] meyerbaptiste commented on #1083
How does this feature deal with serialization groups @dunglas?

[2017-04-26 09:12] #1066 closed

[2017-04-26 09:22] #1071 closed

[2017-04-26 11:57] dunglas commented on #1083
In the Symfony serializer, groups are applied first, then fields are applied. A field cannot be serialized if it is hidden by a group. I think we respect this behavior.

[2017-04-26 16:10] kate-kate commented on #321
@soyuka @dunglas @Simperfit
Hello guys. IIUC this issue means, that related entity still can not be updated with the parent. This bug seems critical to me, so what you think can be done to fix it? Is it a Doctrine Proxy problem? May I try to help?

[2017-04-26 16:20] soyuka commented on #321
@kate-kate we could try to add a failing test case but if this is indeed due to the doctrine issue we need a fix there :/. We now do fetch the data in the `itemNormalizer` as initially suggested by @jderusse

[2017-04-26 23:36] bwegrzyn commented on #1083
Would this work with nested properties? For example `?fields=user.email`

[2017-04-27 05:24] dunglas commented on #1083
Yes, the Symfony serializer supports this.

[2017-04-27 07:58] mitalcoi opened #1085 "relation update question"
Hi, guys!
I faced with some problems while updating of embedded entities. I'm not sure if it is bug or expected behaviour, but when I send PUT-request with embedded resource also to be updated, it creates new embedded resource instead of updating it. For example, I send PUT req to ```/foos/1```:
[code]
In response I get:
[code]
and also ```/bars/1``` still not updated.

Probably this is expected b

[2017-04-27 08:01] soyuka commented on #1085
#321 #990

[2017-04-27 14:02] mitalcoi commented on #1085
Oh, thx! I missed to add "ld+json" to headers)

[2017-04-27 14:02] #1085 closed

[2017-04-27 14:06] mitalcoi opened #1086 "@Assert/Valid seem not working for embedded object"
I have a property with embedded object (type Address), and in Address country, locality and street are required. It is annotated with @Assert\Valid(). And it is not a relation, just embedded property (but it is saved to another’s model collection). And I can create not valid Address as well. BTW I also have a related Address type property and it is validating well

[2017-04-27 14:15] mitalcoi commented on #1083
Great feature, but maybe we should to avoid using key names without "_" prefix?
It will be more safe design:
```http://example.com/books?_fields=title,description```
It is also related to #1082
```http://example.com/books?_groups=group1,group2```

[2017-04-27 14:16] dunglas commented on #1086
If it's a bug, it is related to the Symfony Validator. API Platform doesn't do anything specific about embedded objects regarding validation, it just delegates to the Symfony Validator. You should report this problem on the Symfony bug tracker.

[2017-04-27 14:16] #1086 closed

[2017-04-27 14:17] dunglas commented on #1083
Existing keys such as page are not prefixed. We cannot use this convention now, it would not be consistent. However all keys are already configurable. It will be the same for this one.

[2017-04-27 14:18] mitalcoi commented on #1086
@dunglas, I'm agree.
But it is strange that there are no any issues about that problem at symfony github...

[2017-04-28 09:28] cr3a7ure commented on #1079
I've searched through the Hydra mailing list the past days and have to make some points we should consider. Hydra does not explicitly specify the structure of the document from what I've seen. There is a proposed way from some members, but the closest thing to validation is Hydra Console.

With this in mind, I propose some changes in the api-platform that might address some recurring problems. Som

[2017-05-02 14:25] dkarlovi opened #1091 "ApiPlatform causes a service circular reference for @serializer"
I'm using [Enqueue](https://github.com/php-enqueue/enqueue-bundle) and am trying to register a Doctrine event processor which will convert [Doctrine events](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/events.html#lifecycle-events) to RabbitMQ messages, this would enable me to register remote (sync/async) processes as listeners of Doctrine events as easy as tagging my

[2017-05-02 14:46] dunglas commented on #1091
Hi @dkarlovi,

You have 2 solutions to avoid this circular reference:

1. Create another instance of the serializer for your listeners
2. Inject the container in `AppBundle\Queue\TestProcessor` (not recommended, but with Symfony 3.3 you can use PSR-11 service locators instead).

[2017-05-02 14:56] dkarlovi commented on #1091
@dunglas this is a known issue then?

With 2), I `get('serializer')` in my processor instead?

[2017-05-02 15:00] dunglas commented on #1091
This not really a known issue. The issue is not related to API Platform nor to Enqueue directly. It's the use of both together that create this problem.
Circular references are hard to avoid when a lot of services depend of each other.

About 2), yes.

[2017-05-02 15:08] dkarlovi commented on #1091
The problem here might be `@serializer` (which is a "system service") depends on `@api_platform.metadata.property.name_collection_factory` if ApiPlatform is installed (if I'm reading this right), but does not if it's not installed. I understand why this is, but IMO you should try to avoid overriding system services if at all possible because integration with other bundles might be much harder (bun

[2017-05-02 15:27] dunglas commented on #1091
The `serializer` service is not overriden. We register new normalizers to the global serializer (it allows to use native Symfony normalizers such as the data: URI or the DateTimeNormalizer ones).

We may create a new instance of the Symfony serializer instead, it has been discussed several times. It has pro and cons (it's harder to register custom normalizers for the user for instance).

[2017-05-02 15:31] dkarlovi commented on #924
@vincentchalamon could this be added to the original library? You're basically just casting the UUID object to a string. Is there an upside of `generate()` returning an object instead?

/cc @ramsey (sorry for the mention, but you are the domain expert here)

[2017-05-02 15:39] dunglas commented on #924
The `Uuid` class allows more operations than a regular string (see https://github.com/ramsey/uuid/blob/master/src/Uuid.php). There is no reason to return a string and lose those features.

@vincentchalamon's solution is simple enough. I would just use composition instead of heritage in the custom generator.

[2017-05-02 16:08] dkarlovi commented on #924
@dunglas of course the UUID object has more features than a string. :)

I meant, is it valuable for it to return the object **in this context**? If using it as an ID, you're most often using it as an opaque value, you're not really interested in the content, same as auto-increments. Having it be an object is nice, but you run into all sorts of trouble, like this one or, for example, not being able

[2017-05-02 16:23] ramsey commented on #924
How does the stock Symfony serializer work? The Uuid object implements JsonSerializable and Serializable, so if Symfony is using either of these methods to serialize/unserialize data, everything should Just Work.

See: https://github.com/ramsey/uuid/blob/master/src/Uuid.php#L178-L214

[2017-05-02 16:43] dkarlovi commented on #924
That's weird. I don't think it's calling it.

I've setup the serializer manually (because #1091), [as shown in the docs](http://symfony.com/doc/current/components/serializer.html#usage):

        $normalizers = [new \Symfony\Component\Serializer\Normalizer\ObjectNormalizer()];
        $encoders = [new \Symfony\Component\Serializer\Encoder\JsonEncode()];
        $this->serializer = new \Symfony\Com

[2017-05-02 16:49] dkarlovi commented on #924
Yeah, I expected the ObjectNormalizer to figure out it needs to use JsonSerializableNormalizer, it doesn't. Never mind, PEBKAC.

[2017-05-02 20:17] dunglas commented on #924
The Symfony Serializer as a builtin normalizer handling objects implementing the `JsonSerializableNormalizer`: http://api.symfony.com/3.2/Symfony/Component/Serializer/Normalizer/JsonSerializableNormalizer.html

[2017-05-03 10:45] teohhanhui commented on #924
We can add `__toString` support in `getIdentifiersFromItem`.

[2017-05-03 10:47] abarani opened #1095 "[Question] Filter collections based on related entity id"
I must be missing something simple here but i cannot figure out the right way to go to filter collections based on a related entity id.

Here is a basic use case:

 - I have a `Customer` and an `Subscription` entity;
 - The `Subscription` entity has a manyToOne relationship with the `Customer` one;
 - Both entities are exposed through the API;
 - I want to add a filter on the `/subscriptions` endp

[2017-05-03 10:51] teohhanhui commented on #1091
I think it makes sense for a job to use the container, just like the controller. If you want to avoid that, there are many other options including setter injection.

[2017-05-03 11:13] dkarlovi commented on #1091
I've dropped the idea of handling preXXX events so serializing the complete entity is no longer needed, switched to plain `json_encode()` if the indentifier. Thanks for your help @dunglas @teohhanhui

[2017-05-03 12:01] soyuka commented on #1095
I'm filtering using the `id` (indeed here the numeric part `/subscriptions?customer=1`). Not sure if filtering by `IRI` is supported, but it might be a good feature.

[2017-05-03 15:03] abarani commented on #1095
Ok, I completely missed the paragraph in the documentation that talks about filtering by relations. :neutral_face:

With a `SearchFilter` both IRI (`/subscriptions?customer=/customers/1`) and numeric id (`/subscriptions?customer=1`) are supported.

Here is the correct solution for reference:

[code]

[2017-05-03 15:03] #1095 closed

[2017-05-04 02:33] ad3n opened #1096 "Filter Only The Serializable Fields"
Api Platform is the best API Framework Ever is used. It's great framework.

Recently, when we activate the filter feature without specific fields defined, for example
[code]

[2017-05-04 09:38] soyuka commented on #1033
Is someone working on this yet?

[2017-05-04 10:32] teohhanhui commented on #1069
@soyuka This is actually a bug, because it results in invalid data when eager loading is enabled.

[2017-05-04 10:36] eps90 commented on #924
@teohhanhui @dunglas
Maybe it's too early to ask but are there any news for this issue? Yesterday I encountered very similar problem - I have an object identifier

[code]

The stacktrace is almost identical to the one sent by @fbourigault but the exception message says that `Resource of ...\MessageId not found`.

Thanks.

[2017-05-04 10:47] teohhanhui commented on #924
@eps90 Does `MessageId` implement `__toString`? If yes, then my proposed solution above should fix it.

[2017-05-04 10:49] eps90 commented on #924
@teohhanhui Yes it does. Great, I'll be waiting then!

[2017-05-04 12:19] soyuka commented on #1069
I disagree, the data you serialize is the one you fetch from the database. Data is therefore valid according to what is serialized no?

[2017-05-04 13:00] soyuka commented on #924
@teohhanhui is this what you had in mind?

[code]

[2017-05-05 07:31] teohhanhui commented on #1082
I don't like this. This reeks of implementation details being leaked.

[2017-05-05 08:35] teohhanhui commented on #1069
The entities cannot work as expected when partially loaded. It'd be an unpleasant surprise for the user - broken by default.

[2017-05-05 13:13] soyuka commented on #1069
I don't see how partially loaded entities don't work as long as it's used in APIPlatform's scope. Anyway, for everyone's sake and to avoid more issues on this, I'll change it. Still, I think it's a great feature and I'd like to keep it configurable.

So, what about I:
1. disable partial by default
2. have a new configuration to enable partial selection (resource attributes and config)

Also, I'll

[2017-05-05 14:53] Simperfit commented on #1033
Could be on 2.1.0 maybe @soyuka.

I don't think someone has been working on it, if someone want begin it, that could be neat ! @sroze @jordscream

[2017-05-05 14:58] soyuka commented on #1033
I'll have time this week end for this. Though it may be better to wait for #1099.

[2017-05-05 15:05] bwegrzyn commented on #1069
I have agree with @teohhanhui. Fetching partial objects is great for very simple use cases, but for APIs that require something a bit more complex (such as serializing the output of a method), partial objects will break it it won't know which attributes are actually required.

I'd like to see this feature configurable, but maybe keep the default to disable partial objects to prevent confusion.

[2017-05-05 15:07] soyuka commented on #1069
@bwegrzyn I'm on it ;)

[2017-05-05 15:17] #1035 closed

[2017-05-05 15:25] soyuka opened #1103 "Subresource improvements"
@teohhanhui mentioned that it'd be nice to have:

`GET /users/2.jsonld`

[code]

When `posts` is a subresource. Though, if the user still wants to retrieve the relation, it needs to be specified (one way or another).

I'm creating this issue to collect thoughts about how we could improve the `subresource` metadata. For now we have

[code]

This is not enough configurable, and, as @teohhanhui (agai

[2017-05-06 13:39] #924 closed

[2017-05-07 10:50] pierre-H commented on #1018
Maybe an annotation like this could be useful :
[code]

[2017-05-09 11:46] teohhanhui opened #1107 "Possible conflict between subresource collection and nested subresource collection"
Given `Tour -[:offers]-> AggregateOffer -[:offers]-> Offer`

`GET /app_dev.php/aggregate_offers/8339/offers.jsonld` failed with:

[code]

But `GET /app_dev.php/tours/2945/offers/8339/offers.jsonld` is successful.

[2017-05-09 12:19] soyuka commented on #1107
What are the relations between:

tours => aggregateOffers (1 tour has many aggregateOffers ?)
aggregateOffers => offers (many to many ?)

I think I need some more informations about how entities are related to each others ^^.

[2017-05-09 14:23] teohhanhui commented on #1107
Tour (1:n) AggregateOffer (1:n) Offer

One thing I noticed is that it's trying to generate with the wrong route.

On 9 May 2017 20:19, "Antoine Bluchet" <notifications@github.com> wrote:

[2017-05-10 07:16] ppounder opened #1109 "OneToMany embedded entity issue"
First of all, I'm not sure if this is Api-Platform, specific, Symfony, or me just completely missing something obvious. Tried gitter to ask a question, but not heard anything back.

I have an Activity entity, which has a OneToMany relationship with a Meta entity. Here is my Activity entity main functions:

[code]

My Meta entity:
[code]

When I post the following JSON:
[code]

I get the following

[2017-05-10 15:29] Simperfit commented on #1109
Hi @ppounder,

What happens when you run the given query in SQL ?

[2017-05-11 07:05] ppounder commented on #1109
[code]

However I think this might be an issue with using key and value as field names, MySQL reserved words? Going to try in a minute, and will update.

[2017-05-11 07:08] ppounder commented on #1109
...and that's correct :-)

MySQL reserved words....doh!

[2017-05-11 07:08] #1109 closed

[2017-05-11 13:51] enimateK opened #1112 "[Question]Custom operation collection"
Hello.

I'm trying to create a custom operation that returns me a collection of items.

Controller :
[code]

Entity :
[code]

The custom operation returns only the first page of the collection, I don't know how to get the others.
I tried to disable the pagination, but it returns me an empty array.
Can someone help me on that ? Thank you.

[2017-05-13 10:15] Simperfit commented on #1112
Could you post the result of the action ?

[2017-05-15 07:35] enimateK commented on #1112
I used another method to do it, I didn't need custom operation. Thank you for the response.

[2017-05-15 07:35] #1112 closed

[2017-05-15 15:13] dkarlovi opened #1116 "[Regression] 2.0.8 regresssion in resources.xml"
I've updated to 2.0.8 just now and got an exception:

    [ERROR 1845] Element 'resources': No matching global declaration available for the validation root. (in /app/web/ - line 2, column 0) in . (which is being imported from "/app/app/config/routing.yml").

Root cause was my `resources.xml` which didn't have a namespace declaration, like this:

    <?xml version="1.0" encoding="UTF-8" ?>
    <re

[2017-05-15 15:44] dunglas commented on #1116
@scollado it is related to #1080. Can you take a look?

[2017-05-15 16:26] scollado commented on #1116
Commuting right now, I'll check if we can make namespace declaration optional as soon as I get back to a computer

[2017-05-16 12:31] grachevko opened #1118 "Pagination: Division by zero"
On get collection with itemsPerPage=0 platform crash with exception "Warning: Division by zero"

[2017-05-16 14:36] aggrosoft opened #1119 "Serializing Collections without ApiResource leads to memory usage exceeded error"
I don't know if this is more a symfony/serializer related bug, but when you are using the ApiResource annotation without using any Groups and you have any kind of related entity which is not flagged as ApiResource as well it will just run into a hard to debug "Memory usage exceeded ..." PHP Error.

I just found this out the hard way while integrating the bundle into a few of our entities as a draf

[2017-05-16 15:03] soyuka commented on #1119
Can you disable eager loading and try again?

[2017-05-16 15:11] aggrosoft commented on #1119
Sorry I missed to mention that, I tried disabling eager loading in the config using eager_loading => enabled: false and also eager_loading => force_eager: false but this does not change anything. I also tried it on the entity level but this does not change anything at all.

[2017-05-16 15:14] soyuka commented on #1119
It changes how the queries are computed. If it doesn't leads to a memory leak that's for the better.

Anyway, the maxDepth should be reached before any memory overhead if that were the case. Let us know how this goes, I don't have any more leads I could give you to debug this :|.

[2017-05-16 15:17] aggrosoft commented on #1119
I already fixed it by just adding the ApiResource annotation for the related entities. I will just do that and exclude the stuff I don't need using Groups. Maybe this is worth a note in the docs or something so nobody else has to look that up again.

[2017-05-17 07:55] pierre-H commented on #1018
Maybe for 2.1 ?

[2017-05-17 08:18] pierre-H commented on #1017
I close this issue since, fortunately, I don't know how to reproduce the bug.
So if this comes back, I will do @Simperfit steps.

[2017-05-17 08:18] #1017 closed

[2017-05-17 08:56] aggrosoft opened #1120 "Excluding Fields completely"
We have some Entity classes that implement custom getter functions which return entities as well, as those are not properties there seems to be no way to exclude them. As soon as the ItemNormalizer uses the ResourceClassResolver to resolve the class for this property it will crash. What is the best way to approach this?

An example would be an Entity like this:

[code]

[2017-05-17 09:21] aggrosoft commented on #1120
Seems like this could be done using the setIgnoredAttributes function in the Normalizer used by the Serializer. But I have no idea what would be the best place to get that done.

[2017-05-17 09:29] #1119 closed

[2017-05-17 10:03] izquierdogalan opened #1121 "No work with symfony 2.8 in prod mode"
Fatal error: Uncaught Symfony\Component\DependencyInjection\Exception\RuntimeException: The parent definition "cache.system" defined for definition "api_platform.cache.route_name_resolver" does not exist. in /Users/jonathan/Sites/dapda/projects/salesmaker/vendor/symfony/symfony/src/Symfony/Component/DependencyInjection/Compiler/ResolveDefinitionTemplatesPass.php on line 100

[2017-05-17 10:10] teohhanhui commented on #1121
This is expected. The `symfony/cache` component required is v3.1 and above.

[2017-05-17 11:00] magarzon opened #1122 "Swagger documentation throws an error if a PATCH action is defined"
Swagger documentation throws an error Method PATCH is not supported if there is PATCH action defined.

The issue is added in this commit: https://github.com/api-platform/core/commit/0333f7c764602c2bf07e8e32363a8f5a36d5ac1f

IMHO PATCH should be allowed even if there is nothing to show in the documentation (like it was until this commit), specially if there are requests to add support to JSON PATCH

[2017-05-17 11:02] dunglas commented on #1122
Definitely a bug. @soyuka this change should be reverted https://github.com/api-platform/core/commit/0333f7c764602c2bf07e8e32363a8f5a36d5ac1f#diff-32d63273c86a7e4c14c3fa6bb4131194R173 WDYT?

[2017-05-17 11:23] scollado commented on #1116
@dunglas it seems that this is "normal behavior" when the XSD correctly defines elements namespaces.

The same behavior can be triggered with other Symfony components using XML configuration if you have config files without the provided namespace attributes.
I tested with Serializer & Validation components, I get the same error if I omit the namespace declaration in the root element (ex: ` Element

[2017-05-17 11:26] dunglas commented on #1116
I would be to add a note in the changelog starting by `[BC break]`, WDYT @api-platform/core-team?

[2017-05-17 11:53] Simperfit commented on #1122
I agree that this change should be reverted.

[2017-05-17 12:18] soyuka commented on #1122
I think I asked about this when I added the `RuntimeException` :p. Reverted.

[2017-05-17 14:03] aggrosoft commented on #1121
@izquierdogalan you can just install it by using composer:

`composer require symfony/cache`

This will also work for symfony 2.8

[2017-05-17 16:06] hugohenrique opened #1126 "loader_paths only available in "dev-master" version"
You could launch a new minor version with a feature [loader_paths](https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Bundle/DependencyInjection/Configuration.php#L102-L115)

[2017-05-17 17:43] hugohenrique commented on #1121
I have this problem: ``#1 /app/vendor/api-platform/core/src/Bridge/Symfony/PropertyInfo/Metadata/Property/PropertyInfoPropertyMetadataFactory.php(59): Symfony\Component\PropertyInfo\PropertyInfoExtractor->getShortDescription('Domain\\Offer\\Of...', 'id', Array)``

[2017-05-17 17:45] hugohenrique commented on #1121
And too:
``
Uncaught Exception: Objects returned by Symfony\Component\DependencyInjection\Argument\RewindableGenerator::getIterator() must be traversable or implement interface Iterator in . (which is being imported from "/app/app/config/routing.yml"). Make sure there is a loader supporting the "api_platform" type. {"exception":"[object] (Symfony\\Component\\Config\\Exception\\FileLoaderLoadExcept

[2017-05-17 18:51] hugohenrique commented on #1126
ping @dunglas

[2017-05-17 19:10] hugohenrique opened #1127 "Incompatibility with Symfony v3.3.0-RC1"
[code]

[2017-05-17 21:41] soyuka commented on #1126
If we want to do this we need to backport the feature in 2.0 (not sure we will do this). In the meantime you can use dev-master.

[2017-05-17 22:46] hugohenrique commented on #1126
I'm already using ``dev-master``

[2017-05-17 23:00] hugohenrique commented on #1127
ping @soyuka @dunglas

[2017-05-17 23:02] hugohenrique commented on #1126
But with Symfony v3.3.0-RC1 you have a problem #1127

[2017-05-18 07:17] #1126 closed

[2017-05-18 07:19] soyuka commented on #1127
I've no such issue. Please give more data (composer.json extract, full error etc.).

[2017-05-18 09:37] teohhanhui commented on #1121
Yes, please check that your Symfony components meet our version requirements.

You may refer to: https://github.com/api-platform/core/blob/ec403298dce13e2bb2208955351b5003a9a9c20e/composer.json#L44-L54

[2017-05-18 09:41] teohhanhui commented on #1121
@api-platform/core-team We really need a separate `composer.json` for the bundle (how do we enforce it?), because some components are actually required when one wishes to use the bundle :smile:

[2017-05-18 11:36] pierre-H opened #1130 "Tree : use IRI instead of normalization context"
Hello !

I've got an entity with a tree :
[code]

I'd like to have the IRI parent, not the content.
The problem here is that I get :
[code]

instead of :
[code]

I know that there is the `@MaxDepth` annotation, but it doesn't generate IRI. Is there another solution ?

[2017-05-18 12:02] soyuka commented on #1130
Dooh, I had the same issue yesterday. The solution would be to implement the `circular_reference_handler` configuration in symfony.

I can't give you my implementation because I use another normalization implementation :/.

[2017-05-18 14:33] hugohenrique commented on #1121
@teohhanhui I'm using the v3.3.0-RC1

[2017-05-18 14:46] hugohenrique commented on #1127
My composer.json
[code]

The error message:
[code]
[code]

[code]

[2017-05-18 14:48] soyuka commented on #1127
Can you try:

[code]

?

[2017-05-18 14:50] hugohenrique commented on #1127
I'll try

[2017-05-18 15:02] hugohenrique commented on #1127
Remains errors:
[code]

[code]

[code]

[2017-05-18 15:13] meyerbaptiste commented on #1127
I really can't reproduce these errors too...

[2017-05-18 15:22] hugohenrique commented on #1127
My configuration to api_platform:
[code]

[2017-05-18 15:32] meyerbaptiste commented on #1127
Nor with this configuration. Can you provide a small public project which reproduces these errors?

[2017-05-18 15:34] hugohenrique commented on #1127
Yes, I will make this

[2017-05-18 16:06] hugohenrique commented on #1127
Here: https://github.com/hugohenrique/api-platform-incompatibility

[2017-05-18 17:37] pierre-H commented on #1130
@soyuka `circular_reference_handler` is when the serializer finds a circle. But in my case, there is no circle.

[2017-05-18 17:37] hugohenrique commented on #1127
Important to comment that if you run ```composer install``` it works
but if run ```composer install --prefer-dist --no-dev``` don't work.

[2017-05-18 17:39] hugohenrique commented on #1127
ping @soyuka

[2017-05-18 17:45] soyuka commented on #1130
Oh my bad, thought you had children too. For this to work you need to use some kind of dynamic group.

Or maybe we're missing something for the MaxDepth implementation to do what you said, I'll look into this becaused I also expected that result and it didn't happend.

Another solution is to use some kind of dynamic group. Indeed you serialize with `read` on `Comment` and because `parent` is also

[2017-05-18 21:56] hugohenrique commented on #1127
@soyuka, it seems like the problem is happening because of this change.
https://github.com/symfony/symfony/pull/21654

[2017-05-18 22:16] alfabetagama opened #1131 "Nelmio api doc integration throws an error"
[code]

Throws an error:

`The service "api_platform.nelmio_api_doc.annotations_provider" has a dependency on a non-existent service "api_platform.hydra.normalizer.documentation".`

[2017-05-19 04:29] teohhanhui commented on #1121
It's a separate issue then. I see that you've opened api-platform/core#1127

[2017-05-19 04:33] teohhanhui commented on #1116
Yeah, I think it's not a big deal.

[2017-05-19 08:47] meyerbaptiste commented on #1131
You have to enable the `jsonld` format:

[code]

[2017-05-19 09:23] aggrosoft commented on #1120
So from investigating a little further I found out that currently there is no way to use the setIgnoredAttributes function as [AbstractItemNormalizer](https://github.com/api-platform/core/blob/master/src/Serializer/AbstractItemNormalizer.php#L126) overrides the function and completely ignores whatever was set before.

Do you think this is worth a patch or am I on the completely wrong path here?

[2017-05-19 10:19] alfabetagama commented on #1131
@meyerbaptiste thanks.

[2017-05-19 10:19] #1131 closed

[2017-05-19 11:53] aggrosoft commented on #1120
Ok, I found a way - but I'm still not convinced this is the right way. I built a custom normalizer which is just a copy of the JSONLD normalizer - I implemented the ignoredAttributes handling there.

I think it would be a good addition to handle all of this in a way that the JMSSerializer does it by using an annotation for their [dynamic exclusion strategy](http://jmsyst.com/libs/serializer/master

[2017-05-19 13:44] hugohenrique commented on #1127
Can anyone help me with this? I'm still trying to understand what's happening.
@dunglas @soyuka @teohhanhui

[2017-05-19 13:46] meyerbaptiste commented on #1127
Okay, I got it @hugohenrique...

Your problem is due to a bug in Symfony with the `Symfony\Component\DependencyInjection\Argument\RewindableGenerator` and `Symfony\Component\DependencyInjection\Dumper\PhpDumper` classes.

You can temporarily fix it by requiring `phpdocumentor/reflection-docblock:^3.0` package to your `composer.json` file.

I'll open an issue on the Symfony bug tracker.

[2017-05-19 14:36] hugohenrique commented on #1127
@meyerbaptiste, thank you very much! The problem was resolved with your suggestion!
How did you come to that conclusion? :)

[2017-05-19 15:04] meyerbaptiste commented on #1127
After debugging all the morning! 😰

Issue is here: https://github.com/symfony/symfony/issues/22780

[2017-05-20 08:38] dunglas commented on #1120
@aggrosoft yes this feature should be supported, a patch would be very welcome!

[2017-05-20 09:17] meyerbaptiste commented on #1120
This feature will be supported with https://github.com/api-platform/core/pull/1123! See https://github.com/api-platform/core/pull/1123/files#diff-3e45e8e6ce08f8a7cbbbda1601d5ff29R136 😉

[2017-05-20 15:43] hugohenrique commented on #1127
Thanks again, @meyerbaptiste!
As this problem is related to Symfony I will close this issue.

[2017-05-20 15:43] #1127 closed

[2017-05-21 14:26] meyerbaptiste commented on #1127
The patch was merged in Symfony @hugohenrique. So if you want to remove `phpdocumentor/reflection-docblock` just run `composer remove phpdocumentor/reflection-docblock && composer update symfony/symfony`.

[2017-05-25 20:14] teohhanhui commented on #1001
Indeed I've tried to use `max_depth` and find it very limiting... At least there should be a way to normalize to IRI when `max_depth` is reached. And also `max_depth` 0 to indicate that we don't want to even recurse in.

[2017-05-25 20:20] teohhanhui opened #1139 "Self-referencing subresource causes infinite recursion"
We should not try to create nested subresource through the same path twice, e.g.:

[code]

I don't think `/products/1/isSimilarTo/2/isSimilarTo` is a valid use case \o/
(perhaps not even `/products/1/isSimilarTo/2`?)

[2017-05-26 04:46] teohhanhui commented on #1130
Related (same?): api-platform/core#1001

[2017-05-26 09:43] Simperfit commented on #1121
@izizquierdogalan do you still have an issue ?

[2017-05-26 12:02] Simperfit commented on #1120
@aggrosoft does it work for you ?

[2017-05-26 12:02] Simperfit commented on #1116
I agree too

[2017-05-26 12:03] Simperfit commented on #1107
@teohhanhui does it fix the issue ?

[2017-05-26 12:39] Simperfit commented on #1027
@sbelvadi Please open an issue if this does not fix your issue.

[2017-05-26 12:39] #1027 closed

[2017-05-26 14:46] Simperfit commented on #1012
@ufik is it good for you ?

[2017-05-26 14:48] Simperfit commented on #1062
@bwegrzyn I think that will be supported in 2.1 with symfony 3.3

[2017-05-27 09:55] soyuka commented on #1107
@Simperfit yes it does, I took the same test case given here for my tests in #1110

[2017-05-27 09:55] #1107 closed

[2017-05-28 09:18] ufik commented on #1012
Yeap, thanks.

[2017-05-28 16:26] angelov-todor opened #1142 "[Question] Self-referencing nullable"
I have an entity defined like this:

    <?php
    declare(strict_types=1);

    namespace AppBundle\Entity;

    use Doctrine\Common\Collections\ArrayCollection;
    use Doctrine\ORM\Mapping as ORM;
    use Symfony\Component\Serializer\Annotation\Groups;

    /**
     * Metadata
     *
     * @ORM\Table(name="metadata")
     * @ORM\Entity
     */
    class Metadata
    {
        const TYPE_NUMBER

[2017-05-28 16:37] #1012 closed

[2017-05-28 16:56] angelov-todor commented on #1142
Somehow removing the `children` relation I was able to post.

[2017-05-28 17:49] pierre-H commented on #1130
@teohhanhui Yes you're right : it's the same question. I still don't have a good solution for this ...

[2017-05-28 18:05] #1142 closed

[2017-05-29 12:02] teohhanhui commented on #1130
Unfortunately, I don't have a good solution for this either... We'll need to put our minds (and fingers) together to come up with something...

[2017-05-29 12:07] teohhanhui commented on #1142
Did you figure this out? It would be good to share how you solved it.

[2017-05-29 12:11] teohhanhui commented on #1062
This was added in #1123.

[2017-05-29 12:11] #1062 closed

[2017-05-29 13:29] todor-programista commented on #1142
It was some weird caching issue. But the app behaved realy strange and I removed cache couple of times.

[2017-05-29 14:05] #1121 closed

[2017-05-29 14:07] Simperfit commented on #1045
We could be fixing this since we need this methods.

I think you should use version 3.1 of HttpFoundation in order to make this work.

[2017-05-29 15:41] #884 closed

[2017-05-29 15:42] Simperfit commented on #881
I think with @soyuka's works on subresource this should work

[2017-05-30 08:16] grachevko opened #1147 "Swagger example value without groups in annotation"
I wrote custom `SerializerContextBuilder` whith add many "default" groups. Like class name in snake_case, {class name}-read/write, etc.
And then remove normalization/denormalization context from attribute of `ApiResource` annotation.

Groups work fine, but documentation produce "Example value" for POST/PUT with full attributes include readonly.

[2017-05-31 08:19] DylanFayant opened #1148 "Autowire problem"
Hello community !

I come to you with a little answer. I tried to make an action, this action works but when I want to add some arguments (services) to the Action constructor, I have this error
[code]
I think my action is considered as a Controller and the constructor injection doesn't work. As you can see in the next part of my message, I haven't extended the Controller class. IDK why it says in

[2017-05-31 10:23] #1148 closed

[2017-05-31 10:46] insekticid commented on #638
@Garfield-fr https://github.com/api-platform/api-platform/issues/301

[2017-05-31 23:47] ismailbaskin opened #1149 "Drop Twig Dependency"
I think this library mostly aims API first or API only projects. Twig is an unnecessary dependency with `enable_swagger_ui: false`  but still needed for `api_platform.swagger.action.ui` service.

[2017-06-01 02:02] teohhanhui commented on #1149
I believe we can drop Twig entirely even when using the Swagger UI by ensuring that it's fully client-side.

[2017-06-01 10:29] aggrosoft commented on #1120
Is this documented somewhere? Would love to try that out but I do not understand how this is working.

[2017-06-01 10:32] meyerbaptiste commented on #1120
@aggrosoft It's just the support of `AbstractNormalizer setIgnoredAttributes()`: http://symfony.com/doc/current/components/serializer.html#ignoring-attributes 😉

[2017-06-01 12:17] soyuka commented on #1120
No official annotation/configuration for ignored attributes though. I think you need to add your own normalizer extending api-platform's one to make this work no?

[2017-06-01 13:17] vincentchalamon opened #1151 "Register services for autoconfiguration (Symfony 3.3 autowiring)"
Using Symfony 3.3 autowiring, it's possible to add tags on services by directories. But if some services in the same directory should have different tags, it's not possible to autowire it properly.

Like EventSubscriberInterface, API Platform should register its services for autoconfiguration. For example with data providers:
[code]
In your opinion, which interfaces should be autoconfigured?:
- It

[2017-06-01 13:19] dunglas commented on #1151
Excellent idea! Can you open a PR?

[2017-06-01 13:20] vincentchalamon commented on #1151
@dunglas PR in progress. I just need to know if the interface list is enough or need to be completed

[2017-06-01 13:24] dunglas commented on #1151
I would also suggest to add:

* `QueryItemExtensionInterface` => `api_platform.doctrine.orm.query_extension.item`
* `QueryCollectionExtensionInterface` => * `api_platform.doctrine.orm.query_extension.collection`

[2017-06-01 13:37] dunglas commented on #1151
And do you think you'll be able to create a [MVCE](https://stackoverflow.com/help/mcve) without including the secret elements?

[2017-06-01 14:37] ismailbaskin commented on #1149
In fact I think separating "Swagger UI for Symfony" project can be more reasonable.

[2017-06-01 14:57] teohhanhui commented on #1149
Yes, I see no reason for this project to include any JS and CSS, etc.

It should live in a separate frontend project, like https://github.com/api-platform/admin and https://github.com/api-platform/generate-crud. It should be included as part of our Docker Compose setup. And with Symfony Flex it should be pretty easy to advise the user to install it separately.

[2017-06-01 15:01] teohhanhui commented on #1149
@api-platform/core-team One guiding principle for web APIs is the separation of the frontend and the backend. I believe we need to set a good example ourselves.

[2017-06-01 15:22] dunglas commented on #1149
I definitely agree with that, but it's easiest solution right now. We can work to do it in 2.2!

[2017-06-01 15:35] soyuka commented on #1151
thanks @vincentchalamon !

[2017-06-01 15:35] #1151 closed

[2017-06-02 05:23] teohhanhui opened #1153 "Deprecation in the form of new arguments not handled properly"
Bug introduced in #984:

We must ensure that things work properly even when the new arguments are not provided.

[2017-06-02 06:17] soyuka commented on #1153
Can you give more stack trace? Not sure where this comes from.

[2017-06-02 07:21] izquierdogalan commented on #1121
Sorry for the delay I solved it by installing the following packages in symfony 2.8:

"symfony/property-info": "3.1",
 "symfony/serializer": "3.1",
"symfony/cache": "^3.2",
"api-platform/core": "2.0.8",
"lexik/jwt-authentication-bundle": "^2.4",
"nelmio/cors-bundle": "^1.5",
"symfony/http-foundation": "3.2.8"

And creating the following services:

services:
    serializer.mapping.cache.apcu:

[2017-06-02 08:02] teohhanhui commented on #1153
https://github.com/api-platform/core/blob/099279098fe8c60a0bc213e3320c9c73649cbd87/src/Bridge/Doctrine/Orm/Filter/AbstractFilter.php#L243

`$resourceClass` could be `null`.

[2017-06-02 08:11] teohhanhui commented on #1121
The last part of your fix is wrong. You need to add (at least):

[code]

[2017-06-02 08:33] wcoppens opened #1155 "Custom operations and _format content negotiation"
Just wondering, what way could we support the `_format` on custom operations and keep both route types working just as with default CRUD resources?

So a custom route which would work in both cases:
[code]

Thanks in advance.

[2017-06-02 08:47] soyuka commented on #1155
By adding the format parameter to your custom operation path?

[2017-06-02 08:53] wcoppens commented on #1155
True, however in case we do the following:

[code]

The following route will return 404:
[code]

[2017-06-02 09:30] dunglas commented on #1155
Add a default value (null for instance) for `_format`.

[2017-06-02 09:41] wcoppens commented on #1155
@dunglas That did the trick, important note i did try this first (before creating this issue):

[code]

That does not work, the default should definitly be:
`"_format"=null`

[2017-06-02 09:41] #1155 closed

[2017-06-04 07:05] angelov-todor commented on #903
@ybouhjira did you make it work? What context was missing?

[2017-06-04 12:06] Padam87 commented on #1070
I think I have found a related issue.

I have created a test app, just to look at the api platform before my next major project. I have a `title` field:

[code]

If the post contains a `null` value:
`The type of the "title" attribute must be "string", "NULL" given.`

If an empty string is posted:
Not blank message, and a list of violations, as it should be.

[2017-06-04 12:26] Padam87 opened #1157 "DateTime validation not working"
[code]

**When posting null:**
NotBlank is ignored, actual date is used. I presume it is interpreted as `new \DateTime(null)`

**When posting a non-datetime string:**
`DateTime::__construct(): Failed to parse time string (test) at position 0 (t): The timezone could not be found in the database`

[2017-06-04 14:35] dunglas commented on #1157
Can you post the full code of your entity please?

[2017-06-04 14:53] Padam87 commented on #1157
It is just a test project, so sure: https://gist.github.com/Padam87/25a331c348f5fe5f3b9ec21d4ffa55fe

I'm using `"api-platform/core": "2.1.x-dev"`, because I needed the oauth support.

[2017-06-05 07:22] ad3n opened #1158 "[QUESTION] How to create nested custom search"
Background:
[code]

What i want:
[code]

Thank you very much

[2017-06-05 20:26] sroze opened #1159 "Default to Symfony Serializer's name converter"
When using Symfony Framework bundle, we can configure the Serializer's name converter using for example the following configuration:
[code]

Such configuration will not be picked up by ApiPlatform and in such example, I'd need to configure the `api_platform.name_converter` configuration as well. What if we, by default, use the framework configured in Symfony's Framework Bundle?

[2017-06-06 06:45] soyuka commented on #1158
Is this what you want? Filter on the `property` of your `relation`:

[code]

[code]

Ref: https://api-platform.com/docs/core/filters#search-filter

[2017-06-06 08:26] pierre-H commented on #1149
What if we use EasyAdminBundle or another bundle which requires Twig ?
Personally, I don't use api-platform-admin but EasyAdminBundle because my frontend project is in typescript with react. So I can't add easily api-platform-admin. And I don't want to have two projects : one for the app in typescript and another one for the admin with js.

[2017-06-06 09:36] soyuka commented on #1149
@pierre-H this doesn't mean that you can't have twig as a dependency in your project :). This is just a proposal to drop the hard dependency on twig on the core library.

[2017-06-06 10:28] dunglas commented on #1149
There is no hard dependency on Twig in core. It's just a soft dep.

[2017-06-06 12:49] #1153 closed

[2017-06-06 15:53] #1139 closed

[2017-06-06 20:14] tacman commented on #861
Propel is dead.  Propel 1.7 is marked as outdated and unmaintained, Propel 2 has been in alpha for a few years now.  Any time spent supporting Propel would be better spent migrating to Doctrine. Alas, this was a very expensive lesson for us to learn!

[2017-06-07 01:07] ad3n commented on #1158
@soyuka : no, i want to exclude the soft deletable record on relation query. When i use single query, that is done

[2017-06-07 07:58] soyuka commented on #1158
IIRC soft deleteable field is a date. You should be able to use the date filter by only including ` deletedAt=null`.

[2017-06-07 08:23] soyuka opened #1161 "Subresource followup on tracking path"
Just to keep a track. By @teohhanhui https://github.com/api-platform/core/pull/1144

Follow-up to https://github.com/api-platform/core/pull/1144#discussion_r120525352

Provided:

[code]

If we traverse using BFS (I'm not sure how we can do this with DFS?), with a visited tracking format of:

[code]

Would result in:

-   api_products_is_related_to_get_subresource
    `/products/{id}/is_related_to`

[2017-06-07 17:58] klb-rodriguez opened #1163 "[Question] Required Filter and limit filter by user"
Hello.

I recently started to use the Framework, I had been serching in the official documentation and forums a way to defined a required filter each time a client consume the api, or a way of return nothing if any filter is defined in the request, also a way to restrict depending of user (role) wich filter can use.

thanks in advantage.

[2017-06-07 23:58] ismailbaskin opened #1164 "Change Swagger word in favor of OpenAPI"

[2017-06-08 00:27] denormalizer commented on #861
@tacman It depends what drivers you are using. If you can get doctrine to play nice with MS SQL let me know.
http://propelorm.org/Propel/cookbook/using-mssql-server.html

[2017-06-08 06:13] ad3n commented on #1158
@soyuka : yes i can when the record  have not relation to other. But when the record have relation to other, how to filter nested relation.

Imagine:

i have

[code]

When i access the role, even the user is deleted, the record is counted. How to skipping that?

[2017-06-08 07:43] vincentchalamon opened #1165 "CircularReferenceException in custom ItemDataProvider"
Hello,

I'm implementing 2 custom data providers, connecting on WordPress API: 1 for collection, 1 for item. For the first one, I can easily inject the `serializer` service. But for the item, I get a CircularReferenceException.

A solution would be to create an event subscriber which listens to `kernel.request` event and serialize the controller result, but it's not generic at all (and I don't fin

[2017-06-08 08:49] pierre-H opened #1166 "Custom function : No resource class found for ..."
Hello,

Thank you again for your great work !

I've got a special function like this :

[code]
And then I've got the error : No resource class found for User.

I'm sure that the problem is this function because if I replace `$lastComment->getAuthor()` by `$lastComment->getAuthor()->getName()` I have no error.

Post, Comment and User classes are all Api Resources.

[2017-06-08 08:51] teohhanhui commented on #1165
A data provider isn't supposed to do serialization?

[2017-06-08 08:53] vincentchalamon commented on #1165
@teohhanhui So how can I convert my WordPress API JSON result to my entity?

[2017-06-08 09:00] soyuka commented on #1165
Just to understand the context you're parsing the resulting JSON (from WP API) and then populating some entities?

[2017-06-08 09:03] vincentchalamon commented on #1165
@soyuka Yep. I have a `PostCollectionDataProvider` which calls WordPress API (through guzzle) to get the list of posts in JSON, I need to serialize this list to an array of `AppBundle\WordPress\Post` objects. Same for `PostItemDataProvider`

[2017-06-08 09:09] vincentchalamon commented on #1165
Then, I'll have the same context with `Tag` & `Category` objects

[2017-06-08 09:11] teohhanhui commented on #1165
Do you mean deserializing the JSON data into the `Post` objects? I guess it makes sense then...

Or some other tricks like lazy services which should help...

[2017-06-08 09:12] soyuka commented on #1165
to deserialize then not serialize :p.

I don't get the issue here, you should be able to use your own serializer/normalizer.

[2017-06-08 09:13] vincentchalamon commented on #1165
To deserialize of course, my bad 😉

[2017-06-08 09:21] vincentchalamon commented on #1165
@teohhanhui Like a service locator?

[code]
[code]

[2017-06-08 10:42] teohhanhui commented on #1165
I don't like the service locator, but whatever works for you... :smile:

[2017-06-08 10:44] vincentchalamon commented on #1165
I'm listening to any better (and cleaner) solution 😃

[2017-06-08 10:54] teohhanhui commented on #1165
Does the `SerializerAwareInterface` not work well for this case? :D

[2017-06-08 10:59] vincentchalamon commented on #1165
Just implementing it does not do the trick. I must inject the serializer in `ReadListener` and other services, which will call `setSerializer` (from `SerializerAwareTrait`) in `ChainItemDataProvider`, which will call the same method on each ItemDataProvider if it implements `SerializerAwareInterface`.

Not sure it's the right solution… But I think it should really help cause deserialization in a c

[2017-06-08 11:05] teohhanhui commented on #1165
You could do that using a compiler pass?

I'm not convinced that your typical data providers should need the serializer, but I think there's not really any harm if we do that...

[2017-06-08 11:10] vincentchalamon commented on #1165
You mean adding a call on the definition? It will still cause the circular exception. That's why I need to set it out of container compilation ([that's exactly what the serializer does](https://github.com/symfony/serializer/blob/master/Serializer.php#L59)).

[2017-06-08 11:37] vincentchalamon commented on #1165
@teohhanhui @soyuka So what do you think about the [`SerializerAwareInterface` solution](https://github.com/api-platform/core/issues/1165#issuecomment-307070715)? Do you think it should be done in API Platform as generic, or is it just specific to my projects (I have 2 projects with the same issue)?

[2017-06-08 12:09] #1161 closed

[2017-06-08 12:09] Simperfit commented on #1165
@vincentchalamon IMO it could be done in api-platform

[2017-06-08 12:20] Simperfit commented on #681
@aledeg do you have any information about this ? We just release 2.1, maybe it could fix the problem.

[2017-06-08 12:21] Simperfit commented on #1164
@ismailbaskin Do you want to make a PR about this ?

[2017-06-08 12:26] Simperfit commented on #728
I don't think we can do further with this

[2017-06-08 12:26] #728 closed

[2017-06-08 12:27] Simperfit commented on #689
@teohhanhui, @bwegrzyn  is this fixed ?

[2017-06-08 12:30] Simperfit commented on #779
@dkarlovi is this fixed ?

[2017-06-08 12:32] Simperfit commented on #829
did you thing something for this @polc ?

[2017-06-08 12:33] Simperfit commented on #846
@bwegrzyn is it ok for you ?

[2017-06-08 12:34] Simperfit commented on #861
@denormalizer Maybe this could be contributed in ApiPlatform or in a external bundle, i'm not using propel at all so I could not help with this.

[2017-06-08 12:35] Simperfit commented on #867
@samusenkoiv Is it ok for you ?

[2017-06-08 12:36] Simperfit commented on #880
I think this has been fixed, @lyrixx if it's not feel free to ping me

[2017-06-08 12:36] #880 closed

[2017-06-08 12:37] #881 closed

[2017-06-08 12:39] Simperfit commented on #908
@ybouhjira Thank you for sharing this !

[2017-06-08 12:39] #908 closed

[2017-06-08 12:40] Simperfit commented on #911
What is the ETA on this @karser ?

[2017-06-08 12:41] Simperfit commented on #916
@ufik does the PR fix the issue ?

[2017-06-08 12:42] #973 closed

[2017-06-08 12:42] Simperfit commented on #929
@dkarlovi This has been merged, is it ok fo you ?

[2017-06-08 12:43] Simperfit commented on #942
@magarzon can we close this ?

[2017-06-08 12:44] ufik commented on #916
I will try, but it seems PR was about to create tests not fix the issue.

[2017-06-08 12:44] Simperfit commented on #943
@ZeBigDuck Do you still have an issue ?

[2017-06-08 12:45] Simperfit commented on #946
@jhonatanTeixeira do you still have an issue ?

[2017-06-08 12:51] dkarlovi commented on #929
@Simperfit I believe this was completed in #1024, yes. Haven't tested it since.

[2017-06-08 12:52] dkarlovi commented on #779
I believe so, with 2.1. I have yet to test it, though, hopefully this weekend.

[2017-06-08 13:01] jhonatanTeixeira commented on #946
No, got the code updated and it worked.

The problem was that creating with the skeleton app it came with an older
version

2017-06-08 9:45 GMT-03:00 Amrouche Hamza <notifications@github.com>:

[2017-06-08 13:09] samusenkoiv commented on #867
Yeah, I went with CollectionDataProvider, you can close the issue)
anyway Im looking forward seeing https://github.com/api-platform/core/pull/904A to be released

[2017-06-08 13:16] karser commented on #911
@Simperfit I'm not fully following your question, maybe you intended to tag @teohhanhui ?

[2017-06-08 13:19] soyuka commented on #916
If test pass, it means there was no issue :p.

[2017-06-08 13:21] #946 closed

[2017-06-08 13:21] #867 closed

[2017-06-08 13:22] soyuka commented on #867
@samusenkoiv it has! :D https://dunglas.fr/2017/06/api-platform-2-1-feature-walkthrough-create-blazing-fast-hypermedia-apis-generate-js-apps/

[2017-06-08 13:24] soyuka commented on #1165
Why not, might help some. If I understood this correctly you want the data providers to implement the `SerializableAwareInterface`? I'd clearly see an interest in this.

[2017-06-08 13:26] vincentchalamon commented on #1165
@soyuka that's the main idea, but we should first inject the serializer in services which call ItemDataProvider::getItem, to inject it like the serializer does: https://github.com/symfony/serializer/blob/master/Serializer.php#L60

[2017-06-08 13:48] polc commented on #829
Long time since I tried so I don't know if the problem is still there. And now I think Embedabble are not a so good idea so if no one else has complained, it can probably be close. :)

[2017-06-08 14:53] ufik commented on #916
Ok then you can close it, I won't have time to get closer to this problem any time soon.

[2017-06-08 15:43] aggrosoft commented on #1045
I just installed the new beta and it does not work with 2.8 because of a few things in the ApiPlatformExtension and some service definitions. As far as I can see from the composer file the beta still supports symfony 2.8 - is this still valid or do we have to stick with 2.0 when running 2.8 ? Pull requests welcome for 2.8 maintenance?

[2017-06-08 18:46] pierre-H commented on #1166
I've got the same problem with this function :

[code]

[2017-06-08 20:31] bwegrzyn commented on #846
@Simperfit My needs were a little more complicated than the new sub resource feature, as the results of my sub resource come from an external service, rather than a simple database query on the relation. I ended up implementing this through a custom action.

However, for simpler needs, the sub resource feature would cover this use case. I would consider this issue resolved.

[2017-06-08 20:42] bwegrzyn commented on #689
@Simperfit I haven't seen anything that I would consider a fix for this issue. api-platform/api-platform#141 looks like a workaround instead of an actual fix, especially since its in the platform code. This is actually what I ended up doing in my own project for the time being.

I'm still not sure why @dunglas does not consider this a bug. Why is using the first available GET route the desired beh

[2017-06-09 00:01] denormalizer commented on #861
@Simperfit That's OK, I'm not really pushing for it. I can understand why Propel is not supported by default.

[2017-06-09 04:02] teohhanhui commented on #1045
You need a newer version for many of the Symfony components. At that point, staying with 2.8 starts to look like a losing proposal. :smile:

[2017-06-09 04:11] teohhanhui commented on #846
You can do that with a [custom collection data provider](https://api-platform.com/docs/core/data-providers#custom-collection-data-provider). :smile:

[2017-06-09 07:46] aggrosoft commented on #1045
Well but 2.8 is the only LTS Version currently, shouldn't it be possible to use a LTS Version with api-platform? 3.4 LTS won't be out until next year and our plans were to use 2.8 until the next LTS comes out.

[2017-06-09 07:47] teohhanhui commented on #1045
You can stick to API Platform 2.0 :)

[2017-06-09 07:48] aggrosoft commented on #1045
Ok alright, then my proposal would be to change the composer.json for 2.1 then to exclude symfony 2.8 support.

[2017-06-09 07:50] aggrosoft commented on #1045
Ok will do, thanks for clearing that out ;)

[2017-06-09 08:10] #916 closed

[2017-06-09 08:10] #829 closed

[2017-06-09 08:11] soyuka commented on #846
Custom subresource data provider also exists :).

[2017-06-09 08:31] teohhanhui commented on #846
Hmm... How? :D

[2017-06-09 10:50] magarzon opened #1167 "Bad query parameters when the identifier is a Doctrine Type in Doctrine ItemDataProvider:getItem"
Hi.

I found an issue in doctrine ItemDataProvider introduced in v2.0.8.

In the doctrine ItemDataProvider, when is getting an item, is building a query using the identifiers in the request.

To get the identifiers, first it normalizes them, because can be another than id and even can be two fields

This normalization is performed now by a trait, IdentifierManagerTrait. So, in this line: [https://

[2017-06-09 11:10] magarzon commented on #942
Yes

[2017-06-09 12:05] karser opened #1169 "after upgrading to v2.1.0-beta.1 each request takes up to half a minute"
![image](https://user-images.githubusercontent.com/1675033/26974374-b23ed396-4d23-11e7-8b3f-ecf44a63e3de.png)

![image](https://user-images.githubusercontent.com/1675033/26974381-b877ce66-4d23-11e7-90bd-bc2260c0cd16.png)

![image](https://user-images.githubusercontent.com/1675033/26974429-04314a6c-4d24-11e7-9e24-e2d391bf398c.png)

my config:
[code]

I have lot of resources, custom filters and list

[2017-06-09 12:11] tacman commented on #1169
Removing all the Waves in diamond.yml allows the fixtures to load.

[2017-06-09 14:07] dunglas commented on #1169
It's in dev mode? Do you use Doctrine?

[2017-06-09 15:21] Simperfit commented on #1167
@magarzon I think this is a bug, do you mind opening a PR to fix it ?

[2017-06-09 15:34] karser commented on #1169
yes, it's dev mode, doctrine 2.6.x-dev

[2017-06-09 15:43] magarzon commented on #1167
@Simperfit ok, but I don't know which solution it's better, because I don't know what was the final purpose of this change

[2017-06-09 15:46] dunglas commented on #1169
Even after the first request? This operation should happen only during the cache clearing.

[2017-06-09 16:00] soyuka commented on #1169
Do you have subresources? Or this means that [this condition](https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Routing/ApiLoader.php#L141) isn't doing what it should.

[2017-06-09 16:04] karser commented on #1169
@dunglas Yes, after each request. I tried a few times using different clients.
@soyuka I don't have subresources. I'll check if this condition is being met

[2017-06-09 16:10] soyuka commented on #1167
May I ask what Type are identifiers in your case?

[2017-06-09 16:11] #942 closed

[2017-06-09 16:12] soyuka commented on #846
By implementing the SubresourceDataProviderInterface?

[2017-06-09 16:16] soyuka commented on #1169
It's the only thing that changed in route loading (blackfire points to ApiLoader).

[2017-06-09 16:31] karser commented on #1169
`$propertyMetadata->hasSubresource()` is always null.
if blackfire and xdebug are disabled it takes 5-7 seconds, doesn't matter whether I load item or collection:
![image](https://user-images.githubusercontent.com/1675033/26984908-ef93cd5c-4d49-11e7-8ca7-4f6cc852f375.png)
I'll try to isolate the issue.

[2017-06-09 16:38] karser commented on #1169
When `$kernel = new AppKernel('prod', $debug=false);` it's 100ms
![image](https://user-images.githubusercontent.com/1675033/26985091-aea62c8a-4d4a-11e7-80df-3a707bb5bcac.png)
When `$kernel = new AppKernel('prod', $debug=true);` it's 5s
![image](https://user-images.githubusercontent.com/1675033/26985201-2ba9c58e-4d4b-11e7-8580-09992e9ee905.png)

[2017-06-09 17:36] dunglas commented on #1169
Do you have upgraded to Symfony 3.3 at the same time? If it's the case, can you test with API Platform 2.0.9 but Symfony 3.3 instead of 3.2 to test if it's not a problem related to SF?

[2017-06-09 19:15] karser commented on #1169
All benchmarks are on Symfony 3.3.2.
Here is api-platform **2.0.9** results.
When $kernel = new AppKernel('prod', $debug=false); it's ~150ms
![image](https://user-images.githubusercontent.com/1675033/26990820-b102feac-4d60-11e7-9d21-bf19bd04c3ac.png)
When $kernel = new AppKernel('prod', $debug=true); it's ~600ms
![image](https://user-images.githubusercontent.com/1675033/26990869-f59a4b7e-4d60-11e7

[2017-06-09 22:52] ybouhjira commented on #903
@angelov-todor It has been a long time I haven't worked on this. I don't remember what was the solution actually. But you can check the projet's source code here: [https://github.com/ybouhjira/lets-compete-api](ybouhjira/lets-compete-api)

[2017-06-09 23:32] magarzon commented on #1167
In my project the username is always a mobile. We need to make things like restrict registration to certain countries and operators, that the user can introduce his username with or without prefix, or using a 0 instead the prefix (in some countries they're get used to this), but the final username in the database must be a "normalized" one with the country prefix. For all that (and more) we use th

[2017-06-10 14:06] tseho opened #1170 "Dependency on Symfony 3.3 not specified ?"
When trying **v2.1.0-beta.1**, there is a missing dependency on symfony/dependency-injection:^3.3 when using the ApiPlatformBundle. It's only specified inside require-dev.

When installing it on symfony/symfony:3.2.9, the package will be installed but the DependencyInjection will produce an error on runtime like this:

`Unable to parse file "/app/vendor/api-platform/core/src/Bridge/Symfony/Bundle/

[2017-06-10 22:54] tseho opened #1171 "Prefer order filter on canonical field"
When using the Doctrine ORM **OrderFilter**, I had a case when I had to sort on a canonical version of a field for valid results. (And, I hope, faster queries with proper indexes)

I created a custom version of OrderFilter, checking if the sorted field has a canonical column (eg: name => name_canonical) and uses it in the orderBy instead of the normal one.

It is something you would accept if I do

[2017-06-12 07:36] soyuka commented on #1169
@karser are you able to give more details on this matter? Screen of the profiler, number of relations / items, number of queries executed, a blackfire profile you could share? I'm trying to rewind our commit history with performance tests to see if something comes out.

[2017-06-12 07:49] soyuka commented on #1169
So, I did try a collection with 2 relations per items:

on master
back to 6457f244a06d62c9102e0d6bf56243b646b2fe6d (it's before we merged embedded)
back to 2.0

and I see literally no difference (master was slightly faster according to blackfire).

Note that apcu cache is enabled with something like this:

[code]

Tests done on dev mode.

[2017-06-12 09:32] meyerbaptiste commented on #1170
No, because as you can see it, `symfony/dependency-injection` is used as a bridge inside the core, so it isn't required.

[2017-06-12 09:42] tseho commented on #1170
@meyerbaptiste Thanks for the response.

I understand the core/bridge difference, is adding a composer conflict to symfony/dependency-injection:<3.3 an option ?

This, in theory, should not affect standalone projects using core, only full symfony applications using the bundle.

[2017-06-12 09:59] meyerbaptiste commented on #1170
To sum up the problem, see this comment: https://github.com/api-platform/core/issues/1121#issuecomment-302354562

But yes, `conflict` could be an idea, this should work.

[2017-06-12 11:54] dunglas commented on #1170
👍 for a `conflict` section.

[2017-06-12 14:07] karser commented on #1169
@soyuka I added these lines that use `Symfony\Component\Cache\Adapter\ApcuAdapter` and performance has been improved drastically (it's dev mode, debug=true):
![image](https://user-images.githubusercontent.com/1675033/27036871-e9f6ae22-4f8e-11e7-9cb5-4430b7a4fb9a.png)

So is ApcuAdapter must be always set explicitly like this? I have apcu installed before and I though api-platform was using it auto

[2017-06-12 14:48] soyuka commented on #1169
I never really understood how apcu cache was automatically used (if anyone could explain this, would be lovely :p).

Those are the facts I know of:
1. automatic cache uses `cache.pool` service ([example](https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Bundle/Resources/config/metadata/metadata.xml#L75))
2. `cache.pool` should be automatically defined (how and to which cache prov

[2017-06-12 14:54] dkarlovi commented on #779
@Simperfit I'm just testing this out on an existing project, have no idea what redirect URL to use / how to tweak it? Do you support implicit flow?

ie. I'm using this:

    api_platform:
        oauth:
            enabled: true
            flow: implicit
            clientId: "%swagger.oauth.client%"

If I use Authorize on Swagger UI page, it pushes me to

    http://127.0.0.1:8000/oauth/v2/auth?

[2017-06-12 15:01] dkarlovi commented on #779
Application flow seems to work, it depends if you want to support implicit flow here too, as Swagger UI seems to.

[2017-06-12 15:24] meyerbaptiste commented on #1169
Take a look here @soyuka: https://github.com/symfony/symfony/blob/28aaa8eb05fd037ab3740f3123153dc2a6f275a4/src/Symfony/Component/Cache/Adapter/AbstractAdapter.php#L76-L109.

[2017-06-12 15:32] soyuka commented on #1169
Thanks @meyerbaptiste this kinda helps.

Though, we have [a condition on `kernel.debug` in ApiPlatformExtension](https://github.com/api-platform/core/blob/572905840e6885b1a907bbeb7bb7d9acbf4bf533/src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php#L359-L369) which forces everything to go through `ArrayAdapter` (ie non-persistent in memory cache).

[2017-06-13 09:20] Simperfit commented on #1083
This has been merged

[2017-06-13 09:20] #1083 closed

[2017-06-13 09:22] #1116 closed

[2017-06-13 09:23] Simperfit commented on #1170
@tseho could you submit a PR ?

[2017-06-13 09:27] tseho commented on #1170
@Simperfit sure.

Do we need to add other conflicts or `symfony/dependency-injection:<3.3` will be enough ?

[2017-06-13 09:30] meyerbaptiste commented on #1170
IMO, all the others dev dependencies except tests dependencies.

[2017-06-13 15:18] pierre-H opened #1176 "Add "Api Platform" section in the profiler"
Hello,

Thanks again for your great work !
I just discovered that EasyAdminBundle adds a section in the debug profiler.

It would be nice to have an Api Platform in the profiler like EasyAdminBundle.
There would be for example the entity, the normalization context, filters used, data provider ...

It's just a little proposition that could help when debugging.

Thank you again !

[2017-06-13 15:26] Simperfit commented on #1176
Hello @pierre-H,

I guess why not !

It could be nice to have something like that :).

[2017-06-13 17:23] soyuka commented on #1176
Would be really nice, I already thought about that, mainly for groups debugging. Though, maybe symfony would accept a PR that adds serialization debbugging to the profiler?

[2017-06-14 08:01] Simperfit commented on #127
@MLKiiwy have you gone further with this ?

[2017-06-14 08:33] MLKiiwy commented on #127
No sorry, I stop my development on this part because I don't need it anymore :/ but the solution is still valid but must be implement in the new version of api-platform core. maybe as a plugin ...

[2017-06-14 08:35] Simperfit commented on #212
Since the PR has been merged I think this can be closed we improved alot the performance, if you have any idea on how to improve it more, PR are welcome ! :)

[2017-06-14 08:35] #212 closed

[2017-06-14 08:36] Simperfit commented on #1170
Like @meyerbaptiste said, we don't want it to be symfony/symfony btw, but only the dev dependencies.

Thanks about that @tseho

[2017-06-14 08:37] #1118 closed

[2017-06-14 09:17] soyuka commented on #1068
Closing this because I'm not sure we can do anything about that. #212

[2017-06-14 09:17] #1068 closed

[2017-06-14 09:36] soyuka opened #1177 "Swagger ui"
We have an issue on the new swagger ui with `identifier` fields.

First, it's always forced to `integer` and always has the `id` name (even though the id name can be different).

![swager-ui-bug](https://user-images.githubusercontent.com/1321971/27125645-3e01be50-50f5-11e7-9efd-2cf41f73d85e.png)

On the screenshot for example, the resource has a composite identifier. In the old swagger I could sen

[2017-06-14 09:38] soyuka commented on #1177
Oh and another thing. Every time we want to test we have to:
1. click on try it out
2. then only we can fill the fields

I think that fields should be visible the moment we open a "request" so that we can directly click on `Execute` without having to do 2 manipulations.

[2017-06-14 09:49] dunglas commented on #1177
For the other thing, I agree but it should be reported to the Swagger team... It's the default behavior of the new version.

[2017-06-14 10:33] karser commented on #1169
We successfully migrated so this issue can be closed, I think

[2017-06-14 10:33] #1169 closed

[2017-06-14 11:49] nicolassing opened #1178 "Filter with an having clause"
Hello,

I have an having clause in my filter :

`
$queryBuilder->andHaving('COUNT(a.id) = 0') ;
`

The json is wrong with this filter :
`
"hydra:member": [null],
"hydra:totalItems": 1,
`

The problem is the query generated by FilterEagerLoadingExtension. Having clause is outside the subquery. If I modify the extension and add having clause inside the subquery it works fine.

What do you think ?

[2017-06-14 12:03] nicolassing commented on #1178
Ok, I just forget to add a group by ... ☺️

[2017-06-14 12:03] #1178 closed

[2017-06-14 13:13] Simperfit commented on #583
@teohhanhui I think the workflow component will fit this.

What is the ETA of this discussion ? What should we do ?

[2017-06-14 13:15] Simperfit commented on #669
@aledeg do you want to add a PR ?

[2017-06-14 13:16] #1045 closed

[2017-06-14 13:17] Simperfit commented on #1079
What could we do here @cr3a7ure do you want to submit a PR ?

[2017-06-14 13:18] #681 closed

[2017-06-14 13:18] #693 closed

[2017-06-14 13:19] #846 closed

[2017-06-14 13:23] Simperfit commented on #398
Are we going to implement it on core @api-platform/core-team

[2017-06-14 13:25] Simperfit commented on #1069
This is fixed since #1100

[2017-06-14 13:25] #1069 closed

[2017-06-14 13:26] Simperfit commented on #1163
There are no built-in mechanism to do that, but you could do it in a listener or in a doctrine extension, this is on my todo list.

[2017-06-14 13:29] Simperfit commented on #779
What can we do for this ? to customize to something ?

[2017-06-14 13:29] #929 closed

[2017-06-14 13:31] Simperfit commented on #1029
@insekticid it is ok fo you ?

[2017-06-14 13:34] #943 closed

[2017-06-14 13:34] soyuka commented on #398
IMO it's not really worth the work (because this is never only a matter of AND or OR). We should advise to build custom filters if someone needs this.

[2017-06-14 13:35] Simperfit commented on #398
i'm  -1 on this too, we could help people building their custom one, but that will not be in core :)

[2017-06-14 13:35] #398 closed

[2017-06-14 13:39] soyuka commented on #583
https://github.com/api-platform/core/pull/938 should fit most use cases. Complex ones are hard to solve in a general context.
We just need more docs on #938 :p.

[2017-06-14 13:41] aledeg commented on #681
I haven't got the time to look into it. I will reopen that issue if needed.

[2017-06-14 13:42] aledeg commented on #669
Sure but I need to find some time to do it :)

[2017-06-14 14:10] dkarlovi commented on #779
@Simperfit it boils down to:

1. have [oauth2-redirect.html](https://github.com/swagger-api/swagger-ui/blob/master/dist/oauth2-redirect.html) rendered at some `$URL` (this should probably be something provided by API Platform)
2. set `oauth2RedirectUrl=$URL` in `initOauth()`, this should mean you get redirected to that `$URL` after auth, ie. `/oauth/v2/auth?redirect_uri=$URL`

After that, implicit

[2017-06-14 14:12] Simperfit commented on #779
If you would like to submit a PR since you looked into it that would be awsome ! @dkarlovi

[2017-06-14 14:12] dkarlovi commented on #779
BTW you probably should support implicit flow because application flow is application to application login, you might want to allow specific **users** to login (for example, to test their permissions).

[2017-06-14 14:37] Tim59 opened #1179 "Float rounding on Json"
Hello,

I have a bug with the output of float field in my app :

My object Foo has a field horizontal_position defined as :
[code]
If i make a post with
[code]
The output is :
[code]

Additionals infos :
- there is no problem in csv just on json
- on the function getAttributeValue() the return is good (0.3)
- I'm on psql but it seem to be store good as 0.3

[2017-06-14 14:52] soyuka commented on #1179
You may want to use `decimal` instead of `float`. I think that the above is a correct behavior and a known issue.

[2017-06-14 14:54] Tim59 commented on #1179
Thank you @soyuka

[2017-06-14 19:02] cr3a7ure commented on #1079
I'm working on it. I have to finish a whole system of services based on such changes.
You can have a look here https://github.com/cr3a7ure/core/tree/apires
It's a mess and I need to clean things up and test before submitting a PR.
Well, you can close/hide it for now.

[2017-06-15 09:14] meyerbaptiste commented on #1082
Can be closed.

[2017-06-15 09:17] #1082 closed

[2017-06-15 12:45] meyerbaptiste commented on #1018
I've just tested the `setCallbacks` method and it works fine. What is your problem?

[2017-06-19 11:28] djoos opened #1185 "Doctrine filters"
Hi there,

when implementing a Doctrine filter (eg. [UserAware](http://blog.michaelperrin.fr/2014/12/05/doctrine-filters/)), the results get filtered correctly (hydra:member), however the [paginator's query](https://github.com/api-platform/core/blob/020dbf21246bc7acbd8c417e0ab64bddafcadf3b/src/Bridge/Doctrine/Orm/Paginator.php#L51) doesn't seem to pick up the filter, so the hydra:totalItems and hy

[2017-06-19 18:02] soyuka commented on #1185
My first though was that [extension priorities](https://github.com/api-platform/core/blob/020dbf21246bc7acbd8c417e0ab64bddafcadf3b/src/Bridge/Symfony/Bundle/Resources/config/doctrine_orm.xml) are wrong, but it looks fine (filters are applied before the pagination). To look further you'd need to inspect what's going on [here](https://github.com/api-platform/core/blob/020dbf21246bc7acbd8c417e0ab64bd

[2017-06-20 09:56] vivekkhurana opened #1186 "Order filter not working"
I have an entity and created two filters on it, like this

[code]
Then added the filters to the entity like this

[code]

Now if I open the we console I can see the filters for id, subscriberId and order[createdAt] . When I try out the API from swagger console the API works properly. But accessing the API from curl or browser the "order" filter is ignored.

When I try to access the API this is the

[2017-06-20 10:19] Simperfit commented on #1186
I don't quite understand, using the Swagger UI it works ok, but when using the browser it does not ?

[2017-06-20 12:57] fmata commented on #912
@dunglas any news ?

I can open a PR to provide my fix but it's not spec compliant...
In ApiPlatform\Core\Hydra\Serializer\DocumentationNormalizer::getProperty() I add a property "multiple" in "hydra:property".

[code]

[2017-06-20 14:47] dunglas commented on #912
@fmata it's still on my todolist... Fell free to open a PR it will definitely help!
What do you think about implementing the solution proposed by @lanthaler instead of adding a non-standard extension?

(ping @mauchede, it is probably related to your problem).

[2017-06-20 15:24] fmata commented on #912
@dunglas PR opened.

I'm sorry but I can not see how to implement the solution provided by @lanthaler but let me know if you want help me :)

[2017-06-20 15:46] aggrosoft commented on #1179
@Tim59 one more addition, if your are going to use decimal be sure that api-platform will return a string instead of a number type in the json response - this is due to how the serializer and doctrine handles this type.

[2017-06-20 15:50] dunglas commented on #912
Here is a try but I'm really not sure it's valid. @lanthaler would you mind checking please?

[code]

[2017-06-20 15:57] #1179 closed

[2017-06-20 16:06] djoos commented on #1185
A quick update - after picking this up just now again...

I spotted in the [PartialConnectionViewNormalizer](https://github.com/api-platform/core/blob/b88d975fa152d295ffeed332dab81dd8376722d1/src/Hydra/Serializer/PartialCollectionViewNormalizer.php#L48) that $data looked like:

[code]

So, hydra:member is correct while hydra:totalItems is incorrect.

Digging deeper, I spotted in the [CollectionNor

[2017-06-20 16:40] djoos commented on #1185
The instantiation of the [Paginator](https://github.com/api-platform/core/blob/020dbf21246bc7acbd8c417e0ab64bddafcadf3b/src/Bridge/Doctrine/Orm/Paginator.php) happens in the [PaginationExtension](https://github.com/api-platform/core/blob/a3cf0fb6d128f4126144848dc7c76fa2abb65f67/src/Bridge/Doctrine/Orm/Extension/PaginationExtension.php).

The [CollectionDataProvider](https://github.com/api-platform

[2017-06-20 18:14] vivekkhurana commented on #1186
Yes, when accessed via browser or curl or any other mode of API call the order filter is ignored but when accessed through swagger UI, the order filter works.
By accessing through swagger UI I mean filling the value in the parameter text box  and clicking "Try it out" button.

[2017-06-20 18:22] soyuka commented on #1186
Can you go to "network" in the browser console panel. Then execute the request. Right click on the network line with your request and "copy url" or "copy as curl" and paste that instead.

Some terminal are having issues (different according to shell) with non-escaped special characters (like `[`). If it works in swagger there's no reason that it doesn't elsewhere ^^.
You can also check the symfony

[2017-06-21 09:19] soyuka opened #1191 "When composite identifier is missing should return 404 instead of 400"
See https://github.com/api-platform/core/pull/1182/files#r123189130

[2017-06-21 09:59] djoos commented on #1185
Some further inspection shows that the DoctrineFilter is executed for pagination purposes *before* my Configurator is called (which sets the annotation reader as well as the field + value to filter upon), hooked up on `kernel.request`. Obviously the filter returns rather than adding the filter query as required data is not set - when I, instead of letting the Configurator do this upon kernel.reque

[2017-06-21 10:33] djoos commented on #1185
Aha!

API Platform's [ReadListener](https://github.com/api-platform/core/blob/a409851c3bfaa6b5e36f84a53422d7f0a9ab0fa0/src/EventListener/ReadListener.php) kicks off the ChainCollectionDataProvider > CollectionDataProvider -> PaginationExtension -> Paginator upon kernel.request, [with priority 4](https://github.com/api-platform/core/blob/e3c17c885377d73bb94bd6a728b039080b7d31f7/src/Bridge/Symfony/B

[2017-06-21 10:34] #1185 closed

[2017-06-21 11:01] Simperfit commented on #1185
Thanks for this @djoos do you mind creating a PR on the docs about this ?

[2017-06-21 11:06] djoos commented on #1185
Sure, no problem!

[2017-06-21 13:07] dunglas commented on #912
I've posted my proposal on the Hydra ML: https://lists.w3.org/Archives/Public/public-hydra/2017Jun/0010.html
I'm waiting for feedback before implementing it.

[2017-06-21 13:13] fmata commented on #912
Cool :) I follow your thread and if you are ok I can implement it

[2017-06-21 13:14] dunglas commented on #912
I'm ok but I prefer that some Hydra/OWL guru valid it before you waste your time!

[2017-06-21 18:40] lanthaler commented on #912
Replied on the list. Main question related to this issue: why would you want to use a collection for a single entity?

[2017-06-22 06:54] soyuka commented on #912
When it's a filtered entity for example?

[2017-06-22 10:53] freehuntx commented on #1103
A ApiSubresource annotation would be cool, and configurations would be much clearer in my opinion.
+1

[2017-06-22 13:09] dunglas commented on #912
@fmata, we now have a valid example using OWL: https://lists.w3.org/Archives/Public/public-hydra/2017Jun/0012.html
Can you update your PR (if you're busy I can do it).

Thanks!

[2017-06-22 13:16] fmata commented on #912
@dunglas I will do it in the next days. I saw you are waiting a new response from the list, I will check

[2017-06-22 18:08] themizzi opened #1193 "Required property not being respected on deserialization"
I have an entity that looks as follows:

[code]

This is not a doctrine entity and it is routed to a custom action (not important but this is routing this data to amazon sqs, hence the custom action). It gets to the action fine, except it gets there even if I don't specify a "data" element in the POST body.

The ValidatorPropertyMetadataFactory correctly sets the required attribute on the Property

[2017-06-22 21:11] lvillarino opened #1194 "ServiceCircularReferenceException => Writing a Custom Normalizer"
Hi:

I was trying to implement this example https://api-platform.com/docs/core/content-negotiation#writing-a-custom-normalizer but I'm getting a ServiceCircularReferenceException .

`(1/1) ServiceCircularReferenceException
Circular reference detected for service "AppBundle\Serializer\CustomItemNormalizer", path: "AppBundle\Serializer\CustomItemNormalizer -> serializer -> AppBundle\Serializer\Custo

[2017-06-23 09:24] VeeeneX opened #1195 "[QUESTION] How to save nested relation?"
For example I have Brand:

[code]
As you can see I have relations keywords and translations and if I try to save translations with this array:
[code]
I got an error `Nested documents for attribute \u0022translations\u0022 are not allowed. Use IRIs instead.`

[2017-06-23 09:26] sroze commented on #1195
You will have to create the relation before, and use its URI.

[2017-06-23 09:28] VeeeneX commented on #1195
@sroze And can be done this in feature by one call?

[2017-06-23 14:32] Tim59 commented on #1195
@VeeeneX for me you need to have the same denormalization groups one the  entities and a relation with cascade persit

[2017-06-23 15:01] alex88 commented on #385
@dunglas how?

[2017-06-23 16:36] backbone87 commented on #1177
big problem when one is using UUIDs as PKs

[2017-06-23 16:36] Simperfit commented on #1177
@backbone87 could you please create  a new issue describing the problem ?

[2017-06-23 16:46] backbone87 commented on #1177
i dont see why? its exactly the problem @soyuka described in the opening post. you cant use anything but integer IDs with the current sandbox UI. i was just replying to stress that this is a hugh DX problems for ppl using UUIDs.

[2017-06-23 17:01] lvillarino opened #1196 "Change /api/docs to api/crud-docs"
Hi:

I want to know how I can change the documentation endpoint from /api/docs to api/crud-docs

Thanks

[2017-06-23 17:15] dunglas commented on #1177
It's a bug in Swagger UI isn't it? If it's the case it should be fixed upstream.

[2017-06-23 18:30] backbone87 commented on #1177
idk, i just searched for an open issue, because i experienced the problem described in the OP. afaik swagger ui is configured via a swagger/open api config? then maybe the generated config isnt correct?

[2017-06-23 19:02] backbone87 commented on #1177
Ok i have looked into the swagger api spec generated by api platform and this is what i get for a string ID field (UUID).

[code]

so this is not an upstream problem

[2017-06-23 19:12] dunglas commented on #1177
Thanks for investigating and finding the underlying problem. We'll fix that!

[2017-06-23 19:38] backbone87 commented on #1177
Here are the relevant code sections:
https://github.com/api-platform/core/blob/master/src/Swagger/Serializer/DocumentationNormalizer.php#L234
https://github.com/api-platform/core/blob/master/src/Swagger/Serializer/DocumentationNormalizer.php#L308
https://github.com/api-platform/core/blob/master/src/Swagger/Serializer/DocumentationNormalizer.php#L351

in each case the identifier is just forced to a

[2017-06-23 19:49] backbone87 commented on #1177
a hint for a workaround until this is fixed:
specify the correct parameter config via swagger_context resource operation param:
[code]

[2017-06-23 22:26] dunglas commented on #1195
@Tim59 indeed, this is a supported use case.

[2017-06-23 22:34] dunglas commented on #1177
Can you try this fix https://github.com/api-platform/core/pull/1197 guys?

[2017-06-24 07:25] soyuka commented on #1196
https://github.com/api-platform/core/blob/master/src/Bridge/Symfony/Bundle/Resources/config/routing/api.xml

[2017-06-25 12:12] VeeeneX commented on #1195
Thanks

[2017-06-25 12:12] #1195 closed

[2017-06-25 12:16] VeeeneX opened #1199 "[Question] CORS"
How can I add `Access-Control-Allow-Origin` to API? The following sentense is stated in docs

_If you are starting a new project, the easiest way to get API Platform up is to install the API Platform Standard Edition. It ships with the API Platform Core library integrated with the Symfony framework, the schema generator, Doctrine ORM, NelmioApiDocBundle, **NelmioCorsBundle** and Behat. Basically,

[2017-06-25 14:05] guiyomh commented on #911
Exit json, i switch to Hydra ! And i use `@type`
thx  @teohhanhui

[2017-06-25 14:05] #911 closed

[2017-06-26 07:08] Simperfit commented on #1199
You have to add that bundle into the composer.json of the app  :
[code]

and then you have to add this to the config.yml

[code]

[2017-06-26 09:32] Tim59 opened #1200 "[Question] Context reset randomly on list"
Hi,

I recently discover a bug in my app, when I'm on listing (about 4000 objects) some elements are not serialized with the good groups (it seem the context was reset randomly). I have create a filter for adding infos in a custom context builder.

When I make a debug I can see the contextBuilder is good initialize but when i'm on normalize my extra infos doesn't exists.

More infos :
- I have ove

[2017-06-26 12:44] partageit opened #1201 "Entity Ids are not available in the docs.jsonld document"
Hello,
Entity Ids are not available in my `docs.jsonld` document.

According to [this page](https://api-platform.com/docs/core/serialization-groups-and-relations#entity-identifier-case), adding a setter to the `id` field should be enough.
But it is not :-s

It seems to work with the [demo docs.jdsonld](https://demo.api-platform.com/docs.jsonld), where Ids are available.

The property annotations s

[2017-06-26 20:12] meyerbaptiste commented on #1159
Can be closed (see #1202).

[2017-06-26 20:14] Simperfit commented on #1159
Thanks @meyerbaptiste

[2017-06-26 20:14] #1159 closed

[2017-06-26 20:15] Simperfit commented on #78
This has been fixed by @meyerbaptiste

[2017-06-26 20:15] #78 closed

[2017-06-26 23:50] backbone87 commented on #1177
can be closed

[2017-06-27 00:52] backbone87 opened #1204 "Swagger UI Sandbox does not display validation errors"
If a validation error occurs, when POSTing a resource via Swagger UI, the response is not displayed.
It works with NelmioApiDoc.

[2017-06-27 01:01] backbone87 commented on #1204
Also doesnt work with PUT

[2017-06-27 05:40] dunglas commented on #1204
Yes it also works with Swagger UI 2. It's a regression in Swagger UI.

[2017-06-27 05:40] #1177 closed

[2017-06-27 05:46] dunglas commented on #1204
It seems to have been fixed: https://github.com/swagger-api/swagger-ui/pull/3076

[2017-06-27 05:50] dunglas commented on #1204
Can you try if https://github.com/api-platform/core/pull/1205 fixes the problem @backbone87?

[2017-06-27 09:20] backbone87 commented on #1204
@dunglas it does show the error response now, but sadly its not formatted

iirc the best practice was to send pretty printed JSON anyway in APIs? maybe we can change this on the server side?

[2017-06-27 10:04] Simperfit commented on #1200
Could you maybe post more info ?

- Fork the [API Platform Standard Edition](https://github.com/api-platform/api-platform)
- Do the minimum modification to reproduce the bug
- Post the link in here

We will test in order to see.

[2017-06-27 10:06] Simperfit commented on #1201
Where does mygroup came from ? You should add it to the ApiResource if you use it.

Anyway this is [demo](https://github.com/api-platform/demo/blob/master/src/AppBundle/Entity/Book.php)'s code

[2017-06-27 10:13] Simperfit commented on #1196
I think is ok for you @lvillarino, feel free to ping me if still have an issue.

[2017-06-27 10:13] #1196 closed

[2017-06-27 10:14] #285 closed

[2017-06-27 10:16] Simperfit commented on #583
I will create an issue on doc

[2017-06-27 10:16] #583 closed

[2017-06-27 10:17] soyuka commented on #1191
IMO not a big deal, feel free to reopen ping @teohhanhui @Simperfit

[2017-06-27 10:22] Simperfit commented on #775
@AlexandreHagen Could you test that again ? Do you want to tu submit a PR ?

[2017-06-27 10:23] Simperfit commented on #779
Anyway this seems fixed ;)

We may have to improve it a little bit.

[2017-06-27 10:23] #779 closed

[2017-06-27 10:24] Simperfit commented on #1186
Is this ok for you @vivekkhurana ?

[2017-06-27 10:25] Simperfit commented on #954
Closing since there are no feedback from the users.

[2017-06-27 10:25] #954 closed

[2017-06-27 10:27] #969 closed

[2017-06-27 10:28] #983 closed

[2017-06-27 10:28] Simperfit commented on #990
@dimzerawww Feel free to ping me if you still have an issue

[2017-06-27 10:28] #990 closed

[2017-06-27 10:30] Simperfit commented on #998
Coud you please do the following  @yellowmamba  if you still have the issue ?

- Fork the [API Platform Standard Edition](https://github.com/api-platform/api-platform)
- Do the minimum modification to reproduce the bug
- Post the link in here

We will test that and confirm.

[2017-06-27 10:32] Simperfit commented on #1019
You may want to use listener to hook before api-platform and to add that status from the JobStatus.

[2017-06-27 10:33] #1029 closed

[2017-06-27 10:36] Simperfit commented on #463
What is the ETA on this ?

[2017-06-27 12:18] dunglas commented on #1204
Pretty printed JSON take more space. IMO it's the responsibility of the client to beautify the JSON. It should be easy to patch Swagger UI.

[2017-06-27 12:19] #1204 closed

[2017-06-27 12:54] #1122 closed

[2017-06-27 12:55] Simperfit commented on #1147
Do you still have an issue ?

[2017-06-27 12:56] Simperfit commented on #761
@meyerbaptiste Is this fixed with the PR you've made ?

[2017-06-27 13:05] meyerbaptiste commented on #761
Nop, there is a dedicated PR for this issue: https://github.com/api-platform/core/issues/765

[2017-06-27 13:10] dkarlovi commented on #761
Sadly, it's probably not going to happen as it required quite a bit of underlying work which wasn't there (at the time) and I wan't knowledgeable on API Platform to do it on my own, sorry.

[2017-06-27 15:28] Tim59 commented on #1200
@Simperfit I try to make that tomorrow,

For exemple I add $context['fields'] = ['title'] in the ContextBuilder
And in the normaliser $context['fields'] does not exist

[2017-06-27 16:37] vivekkhurana commented on #1186
Yes wrapping order[createdAt] with encodeURIComponent and then passing the arguments solves the problem. Maybe this can be documented somewhere?

[2017-06-27 16:50] Simperfit commented on #1186
@vivekkhurana Yeah, why not, maybe we could open a doc PR, could you do it ?

[2017-06-27 16:50] #1186 closed

[2017-06-27 17:07] backbone87 commented on #1204
i am just repeating what a google search for "REST best practices" returns:
http://www.vinaysahni.com/best-practices-for-a-pragmatic-restful-api#pretty-print-gzip

and i think that this are very sane arguments and statements. it shouldnt be too hard to make it configurable, no?

[2017-06-27 17:58] dunglas commented on #1204
It's already configurable using the DI component: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/Serializer/Encoder/JsonEncode.php#L26

[2017-06-27 19:28] backbone87 commented on #1204
Didnt know that. Nvm then

[2017-06-28 02:26] yellowmamba commented on #998
Thanks but I will close this one now. It's either been worked around or fixed by us. We didn't touch the api platform core code.

[2017-06-28 02:26] #998 closed

[2017-06-28 07:52] teohhanhui commented on #1191
IMO returning the wrong HTTP status code *is* a big deal.

[2017-06-28 07:54] soyuka commented on #1191
Though both are valid:

[2017-06-28 10:21] teohhanhui commented on #1171
You may write a custom filter which extends the `OrderFilter`. Specifically, you only have to override the `filterProperty` method.

[2017-06-28 11:55] tseho commented on #1171
@teohhanhui Thanks for the reply.

I already did that, I was wondering if this something we could add to **api-platform/core
**.
For example, we could use ApiProperty to specify the canonical version of a property, to be used in `OrderFilter`.

[2017-06-28 12:10] soyuka opened #1210 "EagerLoadingExtension denormalization operation scope issue"
When denormalizing, `IriConverter::getItemFromIri` may get called, and therefore calls the `ItemDataProvider`. When doing this, we loose the `context`.

I saw this while trying to use `force_eager = false` on an Operation. When calling this Operation, the first call to `ItemDataProvider` has the correct `operation_name`. But then, when the call comes from `getItemFromIri`, the `operation_name` is

[2017-06-28 14:33] Tim59 commented on #1200
@Simperfit after testing, an other code was on conflict with the context initialization. my fault sorry.

[2017-06-28 14:33] #1200 closed

[2017-06-28 14:45] Simperfit commented on #1191
What is the point here @teohhanhui ? I think both are right but 400 feels _righter_

[2017-06-28 15:20] backbone87 commented on #1163
i would need the possibility to declare certain filters as required too. do you have any news on this or can you give me a hint to the entrypoint for a custom listener/extension? I am not sure if this should be done within the kernel pipeline or within doctrine extensions. Also i would like that the required filter is reflected in the Swagger spec.

[2017-06-28 15:24] soyuka commented on #1210
Cause: https://github.com/api-platform/core/blob/master/src/Serializer/AbstractItemNormalizer.php#L362

@dunglas may I ask why you're removing those context properties when serializing a relation?

Because some configurations rely on `operation_name` we should propagate those to the `(de)normalization` of relations no?

For example:

[code]

Assuming `Product->Relation->Foo`, when `Relation` will

[2017-06-28 17:57] lvillarino commented on #1196
Solution

Add to the routing.yml this configuration

[code]

[2017-06-28 23:43] backbone87 opened #1211 "Custom operations do not use per-operation normalization_context"
The following does not cause the correct serialization, when returning the entity/item in the custom operation controller method:
[code]

However when configuring the context for the whole resource, it works:
[code]

This probably applies to denormalization_context too, but i use a whole different input format for this special operation, so i dont use the default resource denormalization.

[2017-06-29 09:06] teohhanhui commented on #1191
If you're talking about the query string, I'd agree that 400 is correct. But here we're talking about a resource that cannot be found, i.e. a resource with this IRI does not exist. It's very obvious that 404 is the only correct status code.

[2017-06-29 13:03] marcw opened #1213 "Cache key "p@id" contains reserved characters {}()/\\@:"
When sending a PUT request with this payload to an endpoint managed by api platform, I get the error mentionned in the title.

<details>
<summary>JSON</summary>
<code><pre>
{
"@id":"/app_dev.php/api/files/0b7eb8a8-5ddd-4eb6-8e1a-399c2a3e336f",
"@type":"File",
"name":"FlambyTrack2",
"extension":"mp3",
"description":"Foobar",
"createdAt":"2017-05-12T08:47:54+00:00",
"updatedAt":"2017-05-12T08:47:54+

[2017-06-29 13:33] pierredup opened #1214 "Use custom data provider for nested document"
As far as I can tell, when using nested documents you currently must use an IRI. But I would like to use a string value for the nested object, and use a custom data provider to retrieve the proper object.

For example, let's say you have a Category and a Product entity. If I want to add a product to a category, I have to use an IRI:

[code]

What I would like is to have the following:

[code]

The

[2017-06-29 14:32] dunglas commented on #1213
Looks like a Symfony bug. Can you try if https://github.com/symfony/symfony/pull/23156 fix the problem (you can try `symfony/symfony:^3.3@dev`.

[2017-06-29 14:53] cocciagialla opened #1215 "Swagger documentation"
Hi,
I have a resource "Match" in relations with 2 Team objects:
[code]

In the Swagger documentation, in the 'Example Value' section of the POST operation, it results in something like this:
[code]

In the 'Model' section:
[code]

Why it can't resolve automatically the resource Team and instead set the type to `string`?
How can I get a more detailed documentation?

I tried with both v1.x and the n

[2017-06-29 14:56] Simperfit commented on #1215
Hey @cocciagialla,

Thanks for using API-Platform !

You need to pass an IRI, in order to have the [embedded](https://api-platform.com/docs/core/serialization-groups-and-relations#embedding-relations) items directly in the docs and in the response.

[2017-06-29 15:34] cocciagialla commented on #1215
@Simperfit thanks for the quick reply and thanks for all the works on Api-Platform.
Can you please explain what do you exactly mean with "pass an IRI"?

[2017-06-29 17:13] soyuka commented on #1215
An [IRI](https://www.w3.org/TR/json-ld/#iris) is an Internationalized Resource Identifier. In our context it looks like this: `/api/my_resources/1` for the item `MyResource` having an identifier of `1`.

[2017-06-30 10:09] IndraGunawan opened #1217 "disallow extra field when denormalization"
i think it would be great if api-platform has built in validation to allow/disallow extra fields when user POST / PUT data

so if user submit data that the property does not exist or the property does not include in denormalization context group, it will be throw validation error like Symfony form type http://symfony.com/doc/current/reference/forms/types/form.html#allow-extra-fields

[2017-06-30 15:00] partageit commented on #1201
The `myGroup` group comes from another entity, to nest items.

I tried with and without group, the result is the same.

I have already checked the demo's code, it seems to be very similar.

[2017-06-30 21:45] backbone87 commented on #1217
The symfony serializer has an Option to check extra props. though not for missing Attributes, which makes the current PUT more like a PATCH

[2017-07-01 00:38] backbone87 opened #1218 "documentation for jsonld_embed_context is wrong"
According to https://api-platform.com/docs/core/serialization-groups-and-relations#embedding-the-context you can set jsonld_embed_context to true within the attributes of a resource or operation, but that has no effect. in reality you need to set the option within a normalization_context.

[2017-07-01 05:55] IndraGunawan commented on #1217
you're right, but `allow_extra_attributes` context key was introduced in Symfony 3.3. https://symfony.com/doc/current/components/serializer.html#deserializing-an-object and current api-platform not support extra resource attribute key

[2017-07-01 22:19] mitalcoi commented on #1019
@Simperfit can you please provide an example?

[2017-07-03 09:49] teohhanhui commented on #1218
Good catch! You can help us fix this by opening a Pull Request at https://github.com/api-platform/docs

[2017-07-03 12:20] backbone87 commented on #1217
i also needed required attributes. i solved the problem by using a flag within my model that is initialied to false per default and then set to true, if the setter is called. you can then use a `Callback` validator and a custom method to produce validation errors, if the setter is not called.

its not a beauty but it works.

[2017-07-03 12:25] backbone87 opened #1220 "Support optimistic locking"
Basically the optimistic locking support is almost there. You can add a version field with getter/setter to your entity and you can add it to de/normalization. the only thing missing is to make it required.

a quick fix would be to add a listener that sets the version field to `null` after `ReadListener`, but before the `DenormalizeListener`, so if you dont provide a version, then doctrine will fa

[2017-07-03 12:30] soyuka commented on #1220
You could use a priority of `3` on a `kernel.request` event to do so, no?

[code]

[2017-07-03 12:46] soyuka commented on #1214
Indeed, this isn't really valid JSON-LD and you may want to implement a custom denormalizer to handle such case. I'm not sure that we'd accept a generic workaround for this as it's not following the specs.

[2017-07-03 12:54] pierredup commented on #1214
It doesn't work with a custom normalizer, I have tried but the failure keeps happening before my normalizer is hit because [this condition](https://github.com/api-platform/core/blob/a24d2bbe9331d5b86d48b13043278138ab30e386/src/Serializer/AbstractItemNormalizer.php#L294) always returns false

[2017-07-03 13:08] soyuka commented on #1214
If I understand correctly you're trying to do something like this?

[code]

[2017-07-03 17:02] backbone87 commented on #1220
Well, ofc i can create the listener myself (currently i use another way to ensure the version gets set). the question is, if optimistic locking is something to provide out of the box and if so, what is the best way to implement it.

[2017-07-03 18:28] dunglas commented on #1220
I'll be glad to merge such feature (as long as it is optional).

[2017-07-03 18:55] backbone87 commented on #1220
i can make a PR, but i want to discuss different approaches before. the problem is described in the OP: How to make sure the version is submitted?

[2017-07-03 19:04] pierredup commented on #1214
Something like that, yes

[2017-07-03 19:37] partageit commented on #1201
I have git-cloned the [demo repository](https://github.com/api-platform/demo) and I have the same result: `Book`.`id` and `Review`.`id` are missing from `docs.jsonld`.

These fields are present on your [demo platform `docs.jsonld`](https://demo.api-platform.com/docs.jsonld).

As sources are probably the same, what could be the difference?

I tried with many configurations:
- `php bin/console serve

[2017-07-03 19:40] dunglas commented on #1201
The online demo currently use this branch: https://github.com/api-platform/demo/pull/15

Can you try with 2.1@beta?

[2017-07-03 19:48] backbone87 opened #1222 "Excpetion during normalization of embedded entities where not all are ApiResources"
I have a problem with normalization.

Datamodel: Fall (Case) <- 1:n -> Tag <- n:1 -> Tagdefinition

All 3 models are doctrine entities, but only Fall and Tagdefinition are ApiResources. Tags should be serialized within the Fall output, something like this:
[code]
This works fine up until now. I have a `getTags` on the Fall entity and the beschriftung (label) and erstellungsdatum (created date) are

[2017-07-03 19:51] backbone87 commented on #1222
some more context:
[code]
This happens when the normalizer tries to serialize the Tag::definition single valued association that is embedded into the Fall output

[2017-07-03 20:37] partageit commented on #1201
You're right, it works with API Platform 2.1 :)
When will this version be available ?
Thank you for your answer, and for API Platform :)

[2017-07-03 20:37] #1201 closed

[2017-07-03 22:47] backbone87 commented on #1222
If i add `unset($context['resource_class']);` before https://github.com/api-platform/core/blob/master/src/Serializer/AbstractItemNormalizer.php#L420 then i get:
[code]

which is close, but missing entries in the context. In general i noticed that the jsonld context is only embedded in the root entity (and also only root entity props are contained in the context, which leads to a wrong jsonld graph

[2017-07-03 23:24] backbone87 commented on #1222
Ok additionally to the change mentioned above, the following needs to be commented out:
https://github.com/api-platform/core/blob/master/src/Serializer/ContextTrait.php#L33-L35

this is to make sure, when serializing intermediate non-resource object A and then hitting a resource object B again within A, the correct resource class is set into the context.

@dunglas @soyuka can i have your opinion o

[2017-07-03 23:28] backbone87 opened #1223 "[JSON-LD] correctly add context of embedded nodes"
this is a follow up to the problem described in https://github.com/api-platform/core/issues/1222#issuecomment-312745686

The jsonld context is not correctly populated when embedded nodes. Either specify the context per embedded node ( see https://json-ld.org/spec/latest/json-ld/#advanced-context-usage ) or somehow pass up context entries to the root node.